<style>body{background-color:black;color:white;}</style>
<h1 style="color: red;"><%= __("page.error.critical") %></h1>
<h2><%= message %></h2>
<h3><%= error.status %></h3>
<pre><%= error.stack %></pre>
<br />
<button onclick="window.location = '<% if (typeof(linkPrefix) !== "undefined") { %><%= linkPrefix %><% } else { %>en-US<% } %>/';"><%= __("common.home") %></button>
<button onclick="history.back();"><%= __("common.goback") %></button>
<p id="premidPageInfo" style="display: none;"><%= __("premid.error.critical") %></p>