<% if (template.explicitContent === 0) { %>
    <p><strong><%= __("partials.explicitFilter") %></strong> <%= __("partials.explicitFilter.0") %></p>
<% } else if (template.explicitContent === 1) { %>
    <p><strong><%= __("partials.explicitFilter") %></strong> <%= __("partials.explicitFilter.1") %></p>
<% } else if (template.explicitContent === 2) { %>
    <p><strong><%= __("partials.explicitFilter") %></strong> <%= __("partials.explicitFilter.2") %></p>
<% } %>