<% if (type === "multi") { %>
    <% if (htmlDir === "rtl") { %>
        <div class="control">
            <div class="tags has-addons">
                <% if (content === "insOwner-bot") { %>
                    <span class="tag <%= contentColour %>">
                        <a class="has-text-white" href="<%= linkPrefix %>/users/<%= bot.owner.id %>"><%= botOwner ? botOwner.fullUsername : "Unknown#0000" %></a>
                    </span>
                <% } else if (content === "insEditor-bot") { %>
                    <span class="tag <%= contentColour %>">
                        <%- editors %>
                    </span>
                <% } else if (content === "insOwner-server") { %>
                    <span class="tag <%= contentColour %>">
                        <a class="has-text-white" href="<%= linkPrefix %>/users/<%= server.owner.id %>"><%= serverOwner ? serverOwner.fullUsername : "Unknown#0000" %></a>
                    </span>
                <% } else if (content === "insOwner-template") { %>
                    <span class="tag <%= contentColour %>">
                        <a class="has-text-white" href="<%= linkPrefix %>/users/<%= template.owner.id %>"><%= templateOwner ? templateOwner.fullUsername : "Unknown#0000" %></a>
                    </span>
                <% } else if (content === "insCreator-template") { %>
                    <span class="tag <%= contentColour %>">
                        <a class="has-text-white" href="<%= linkPrefix %>/users/<%= template.creator.id %>"><%= template.creator ? `${template.creator.username}#${template.creator.discriminator}` : "Unknown#0000" %></a>
                    </span>
                <% } else { %>
                    <span class="tag <%= contentColour %>" <% if (locals.id) { %>id="<%= id %>"<% } %>><%= content %></span>
                <% } %> 
                <span class="tag is-dark"><%= title %></span>
            </div>
        </div>
    <% } else { %>
        <div class="control">
            <div class="tags has-addons">
                <span class="tag is-dark"><%= title %></span>
                <% if (content === "insOwner-bot") { %>
                    <span class="tag <%= contentColour %>">
                        <a class="has-text-white" href="<%= linkPrefix %>/users/<%= bot.owner.id %>"><%= botOwner ? botOwner.fullUsername : "Unknown#0000" %></a>
                    </span>
                <% } else if (content === "insEditor-bot") { %>
                    <span class="tag <%= contentColour %>">
                        <%- editors %>
                    </span>
                <% } else if (content === "insOwner-server") { %>
                    <span class="tag <%= contentColour %>">
                        <a class="has-text-white" href="<%= linkPrefix %>/users/<%= server.owner.id %>"><%= serverOwner ? serverOwner.fullUsername : "Unknown#0000" %></a>
                    </span>
                <% } else if (content === "insOwner-template") { %>
                    <span class="tag <%= contentColour %>">
                        <a class="has-text-white" href="<%= linkPrefix %>/users/<%= template.owner.id %>"><%= templateOwner ? templateOwner.fullUsername : "Unknown#0000" %></a>
                    </span>
                <% } else if (content === "insCreator-template") { %>
                    <span class="tag <%= contentColour %>">
                        <% if (template.creator) { %>
                            <% if (creatorHasProfile) { %>
                                <a class="has-text-white" href="<%= linkPrefix %>/users/<%= template.creator.id %>">
                            <% } %>
                            <%= template.creator.username %>#<%=template.creator.discriminator %>
                            <% if (creatorHasProfile) { %>
                                </a>
                            <% } %>
                        <% } else { %>
                            Unknown#0000
                        <% } %> 
                    </span>
                <% } else { %>
                    <span class="tag <%= contentColour %>" <% if (locals.id) { %>id="<%= id %>"<% } %>><%= content %></span>
                <% } %> 
            </div>
        </div>
    <% } %> 
<% } else if (type === "botTag") { %>
    <% if (htmlDir === "rtl") { %>
        <div class="control">
            <a class="tag hover <%= contentColour %>" href="<%= linkPrefix %>/bots?tag=<%= tag %>">
                <span><%= content %></span>
                <span class="icon">
                    <i aria-hidden="true" class="fas fa-<%= icon %>"></i>
                </span>
            </a>
        </div>
    <% } else { %>
        <div class="control">
            <a class="tag hover <%= contentColour %>" href="<%= linkPrefix %>/bots?tag=<%= tag %>">
                <span class="icon">
                    <i aria-hidden="true" class="fas fa-<%= icon %>"></i>
                </span>
                <span><%= content %></span>
            </a>
        </div>
    <% } %>
<% } else if (type === "tag") { %>
    <% if (htmlDir === "rtl") { %>
        <div class="control">
            <p class="tag <%= contentColour %>">
                <span><%= content %></span>
                <span class="icon">
                    <i aria-hidden="true" class="fas fa-tag"></i>
                </span>
            </p>
        </div>
    <% } else { %>
        <div class="control">
            <p class="tag <%= contentColour %>">
                <span class="icon">
                    <i aria-hidden="true" class="fas fa-tag"></i>
                </span>
                <span><%= content %></span>
            </p>
        </div>
    <% } %>
<% } %>
