<%- include("../../partials/header.ejs") %>
<%- include("../../partials/nav.ejs") %>
<%
    let defaultColour = "#b114ff";
    let foreground = "#ffffff";

    if (req.user) {
        defaultColour = req.user.db.preferences.defaultColour || "#b114ff"
        foreground = req.user.db.preferences.defaultForegroundColour || "#ffffff"
    }
%>
<section class="hero is-black">
    <div class="hero-body">
        <br />
        <div class="container has-text-centered">
            <h1 class="title">
                <span class="icon is-medium iconalign">
                    <i aria-hidden="true" class="fad fa-podium-star has-text-default fa-1x"></i>
                </span>
                <br />
                <span><%= title %></span>
            </h1>
            <h2 class="subtitle"><%= subtitle %></h2>
        </div>
    </div>
    </section>
    <div class="container">
        <div style="text-align: center;" class="section content">
            <table style="width:100%">
                <tr class="has-background-primary">
                  <th>Username</th>
                  <th>Place</th>
                  <th>Score</th>
                </tr>
                <%- users.map(user => `<tr>
                    <td>${user.fullUsername}</td>
                    <td>${user.position}</td>
                    <td>${user.game.snakes.maxScore}</td>
                </tr>`).join(''); %>
              </table>
        </div>     
    </div>
<%- include("../../partials/footer.ejs") %>