<%- include("../../partials/header.ejs") %>
<link href="/css/form.css?v=<%= cssVersion %>" type="text/css" media="screen, print" rel="stylesheet" />
<link rel="stylesheet" data-name="vs/editor/editor.main" href="/packages/monaco-editor/min/vs/editor/editor.main.css">
<%- include("../../partials/nav.ejs") %>
<section class="hero is-primary">
    <div class="hero-body">
        <div class="container has-text-centered" style="text-align: center;">
            <br />
            <h1 class="title">
                <span class="icon is-medium iconalign">
                    <i aria-hidden="true" class="fad fa-swatchbook has-text-default fa-1x"></i>
                </span>
                <br />
                <span><%= title %></span>
            </h1>
            <h2 class="subtitle"><%= subtitle %></h2>
        </div>
    </div>
</section>
<div class="container">
    <div class="section">
        <form method="POST">
            <div class="field">
                <label class="label has-text-blurple"><%= __("page.account.preferences.snake") %></label>
                <div class="field">
                    <input class="is-checkradio is-circle has-background-color is-danger" type="checkbox" id="noGames" name="noGames" <% if (req.user.db.preferences.enableGames === false) { %>checked="checked"<% } %>>
                    <label class="has-text-danger" for="noGames"><%= __("common.disable") %></label>
                </div>
                <br />
                <label class="label has-text-blurple"><%= __("page.account.preferences.experiments") %></label>
                <div class="field">
                    <input class="is-checkradio is-circle has-background-color is-success" type="checkbox" id="experiments" name="experiments" <% if (req.user.db.preferences.experiments === true) { %>checked="checked"<% } %>>
                    <label class="has-text-success" for="experiments"><%= __("common.allow") %></label>
                    <br />
                    <label class="is-size-7 has-text-danger"><%= __("page.account.preferences.experiments.warning") %></label>
                </div>
                <br />
                <label class="label has-text-blurple"><%= __("page.account.preferences.accent") %></label>
                <div class="field">
                    <input class="backdrop" name="iconColour" type="color" value="<%= req.user.db.preferences.defaultColour %>" style="width:30%; background-color: transparent; border-color: transparent;">
                </div>
                <br />    
                <div class="field">
                    <label class="label has-text-blurple"><%= __("page.account.preferences.customCSS") %> <span class="has-text-danger">(<%= __("page.account.preferences.customCSS.danger") %>)</span></label>
                    <div onkeyup="monacoToField();" id="customCssEditor" class="editorBackdrop" style="width:99%;height:350px;" value="<%= req.user.db.preferences.customGlobalCss %>"></div>
                    <textarea hidden name="customCss" id="customCss"></textarea>
                    <label class="is-size-7 has-text-magenta"><%= __("page.account.preferences.customCSS.note") %></label>
                </div>
                <br />
                <div class="field is-grouped">
                    <div class="buttons">
                        <button class="button is-success">
                            <span class="icon"><i aria-hidden="true" class="fas fa-check-circle"></i></span>
                            <span><%= __("common.save") %></span>
                        </button>
                        <a class="button is-orange" href="<%= linkPrefix %>/users/account/preferences/reset">
                            <span class="icon"><i aria-hidden="true" class="fas fa-minus-circle"></i></span>
                            <span><%= __("page.account.preferences.revert") %></span>
                        </a>
                        <a class="button is-danger" href="<%= linkPrefix %>/users/<%= req.user.id %>">
                            <span class="icon"><i aria-hidden="true" class="fas fa-times-circle"></i></span>
                            <span><%= __("common.cancel") %></span>
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">var require={paths:{"vs":"/packages/monaco-editor/min/vs"}};</script>
<script src="/packages/monaco-editor/min/vs/loader.js"></script>
<script src="/packages/monaco-editor/min/vs/editor/editor.main.nls.js"></script>
<script src="/packages/monaco-editor/min/vs/editor/editor.main.js"></script>
<script type="text/javascript">var longDescEditor=monaco.editor.create(document.getElementById("customCssEditor"),{value:`<%= req.user.db.preferences.customGlobalCss %>`,language:"css"});function monacoToField(){var o=window.profileCssEditor.getValue();$("#profileCss").val(o)}monaco.editor.setTheme("vs-dark");</script type="text/javascript">   
<%- include("../../partials/footer.ejs") %>
