<%- include("../../partials/header.ejs") %>
<link href="/css/form.css?v=<%= cssVersion %>" type="text/css" media="screen, print" rel="stylesheet" /><link rel="stylesheet" data-name="vs/editor/editor.main" href="/packages/monaco-editor/min/vs/editor/editor.main.css">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous" async></script><%- include("../../partials/nav.ejs") %>
<section class="hero is-primary">
    <div class="hero-body">
        <div class="container has-text-centered">
            <br />
            <h1 class="title">
                <span class="icon is-medium iconalign">
                    <i aria-hidden="true" class="fad fa-pen has-text-default fa-1x"></i>
                </span>
                <br />
                <span><%= title %></span>
            </h1>
            <% if (userProfile._id === user._id) { %>
                <h2 class="subtitle"><%= __("page.account.edit.subtitle.me") %></h2>
            <% } else { %>
                <h2 class="subtitle"><%= __("page.account.edit.subtitle.other", userProfile.fullUsername) %></h2>
            <% } %>
        </div>
    </div>
</section>
<div class="container">
    <div class="section">
        <form method="POST">
            <div class="field">
                <label class="label has-text-blurple"><%= __("page.account.edit.bio") %></label>
                <p class="control has-icons-left has-icons-right">
                    <input class="input is-rounded" type="text" name="bio" value="<%= userProfile.profile.bio %>" placeholder="<%= __("page.account.edit.bio.placeholder") %>">
                    <span class="icon is-small is-left">
                        <i aria-hidden="true" class="fas fa-comment-dots"></i>
                    </span>
                </p>
            </div>
            <br />
            <div class="field">
                <label class="label has-text-blurple"><%= __("common.website") %></label>
                <p class="control has-icons-left has-icons-right">
                    <input class="input is-rounded" type="text" name="website" value="<%= userProfile.profile.links.website %>" placeholder="<%= __("page.account.edit.website.placeholder") %>">
                    <span class="icon is-small is-left">
                        <i aria-hidden="true" class="fas fa-globe"></i>
                    </span>
                </p>
            </div>
            <br />
            <div class="field">
                <label class="label has-text-blurple"><%= __("common.social.github") %> <span class="has-text-default">(<%= __("page.account.edit.social.notice") %>)</span></label>
                <p class="control has-icons-left has-icons-right">
                    <input class="input is-rounded" type="text" name="github" value="<%= userProfile.profile.links.github %>" placeholder="<%= __("page.account.edit.social.placeholder") %>">
                    <span class="icon is-small is-left">
                        <i aria-hidden="true" class="fab fa-github"></i>
                    </span>
                </p>
            </div>
            <br />
            <div class="field">
                <label class="label has-text-blurple"><%= __("common.social.gitlab") %> <span class="has-text-default">(<%= __("page.account.edit.social.notice") %>)</span></label>
                <p class="control has-icons-left has-icons-right">
                    <input class="input is-rounded" type="text" name="gitlab" value="<%= userProfile.profile.links.gitlab %>" placeholder="<%= __("page.account.edit.social.placeholder") %>">
                    <span class="icon is-small is-left">
                        <i aria-hidden="true" class="fab fa-gitlab"></i>
                    </span>
                </p>
            </div>
            <br />
            <div class="field">
                <label class="label has-text-blurple"><%= __("common.social.twitter") %> <span class="has-text-default">(<%= __("page.account.edit.social.notice") %>)</span></label>
                <p class="control has-icons-left has-icons-right">
                    <input class="input is-rounded" type="text" name="twitter" value="<%= userProfile.profile.links.twitter %>" placeholder="<%= __("page.account.edit.social.placeholder") %>">
                    <span class="icon is-small is-left">
                        <i aria-hidden="true" class="fab fa-twitter"></i>
                    </span>
                </p>
            </div>
            <br />
            <div class="field">
                <label class="label has-text-blurple"><%= __("common.social.instagram") %> <span class="has-text-default">(<%= __("page.account.edit.social.notice") %>)</span></label>
                <p class="control has-icons-left has-icons-right">
                    <input class="input is-rounded" type="text" name="instagram" value="<%= userProfile.profile.links.instagram %>" placeholder="<%= __("page.account.edit.social.placeholder") %>">
                    <span class="icon is-small is-left">
                        <i aria-hidden="true" class="fab fa-instagram"></i>
                    </span>
                </p>
            </div>
            <br />
            <div class="field">
                <label class="label has-text-blurple"><%= __("common.social.snapchat") %> <span class="has-text-default">(<%= __("page.account.edit.social.notice") %>)</span></label>
                <p class="control has-icons-left has-icons-right">
                    <input class="input is-rounded" type="text" name="snapchat" value="<%= userProfile.profile.links.snapchat %>" placeholder="<%= __("page.account.edit.social.placeholder") %>">
                    <span class="icon is-small is-left">
                        <i aria-hidden="true" class="fab fa-snapchat-ghost"></i>
                    </span>
                </p>
            </div>
            <br />
            <div class="field">
                <label class="label has-text-blurple"><%= __("page.account.edit.customCSS") %> <span class="has-text-default">(<%= __("page.account.edit.customCSS.notice") %>)</span></label>
                <% if (userProfile.rank.premium === true || userProfile.rank.mod === true) { %>
                    <div onkeyup="monacoToField();" id="profileCssEditor" class="editorBackdrop" style="width:99%;height:500px;" value="<%= userProfile.profile.css %>"></div>
                    <textarea hidden name="profileCss" id="profileCss"></textarea>
                <% } else { %>
                    <p class="has-text-danger"><%= __("page.account.edit.customCSS.notPermitted") %></p>
                <% } %>
            </div>
            <br />
            <div class="field is-grouped">
                <div class="buttons">
                    <button class="button is-success">
                        <span class="icon"><i aria-hidden="true" class="fas fa-check-circle"></i></span>
                        <span><%= __("common.save") %></span>
                    </button>
                    <a class="button is-danger" href="<%= linkPrefix %>/users/<% if (userProfile._id === user._id) { %>@me<% } else { %><%= userProfile._id %><% } %>">
                        <span class="icon"><i aria-hidden="true" class="fas fa-times-circle"></i></span>
                        <span><%= __("common.cancel") %></span>
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">const require={paths:{"vs":"/packages/monaco-editor/min/vs"}};addEventListener('beforeunload',event=>{event.preventDefault();event.returnValue=''});</script>
<script src="/packages/monaco-editor/min/vs/loader.js"></script>
<script src="/packages/monaco-editor/min/vs/editor/editor.main.nls.js"></script>
<script src="/packages/monaco-editor/min/vs/editor/editor.main.js"></script>
<script type="text/javascript">var longDescEditor=monaco.editor.create(document.getElementById("profileCssEditor"),{value:`<%= userProfile.profile.css %>`,language:"css"});function monacoToField(){var o=window.profileCssEditor.getValue();$("#profileCss").val(o)}monaco.editor.setTheme("vs-dark");</script type="text/javascript">   
<%- include("../../partials/footer.ejs") %>