<%- include("../../partials/header.ejs") %>
<%- include("../../partials/nav.ejs") %>
<section class="hero is-black">
    <div class="hero-body">
        <br />
        <div class="container has-text-centered">
            <h1 class="title">
                <span class="icon is-medium iconalign">
                    <i aria-hidden="true" class="fad fa-book has-text-default fa-1x"></i>
                </span>
                <br />
                <span><%= title %></span>
            </h1>
            <h2 class="subtitle"><%= subtitle %></h2>
        </div>
    </div>
    </section>
    <div class="container">
        <div class="section">
            <h2 class="is-size-3 has-text-default"><%= __("page.guidelines.principle") %></h2>
            <div class="content">
                <ul>
                    <li class="is-size-4"><%= __("page.guidelines.commonSense") %></li>
                    <li class="is-size-6"><a class="has-text-white" href="mailto:contact@discordextremelist.xyz"><%= __("page.guidelines.support", "contact@discordextremelist.xyz") %></a></li>
                </ul>
            </div>
            <h2 class="is-size-3 has-text-default"><%= __("page.guidelines.user") %></h2>
            <div class="content">
                <ul>
                    <li class="is-size-4"><%= __("page.guidelines.user.profile") %>
                        <ul class="is-size-6">
                            <li><%= __("page.guidelines.user.profile.0") %></li>
                            <li><%= __("page.guidelines.user.profile.1") %></li>
                            <li><%= __("page.guidelines.user.profile.2") %></li>
                        </ul>
                    </li>
                    <li class="is-size-4"><%= __("page.guidelines.user.other") %>
                        <ul class="is-size-6">
                            <li><%= __("page.guidelines.user.other.0") %></li>
                            <li><%= __("page.guidelines.user.other.1") %></li>
                            <li><span class="is-size-6"><%= __("page.guidelines.user.other.1.1") %></span></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <br />
            <h2 class="is-size-3 has-text-default"><%= __("page.guidelines.bot") %></h2>
            <div class="content">
                <ul>
                    <li class="is-size-4"><%= __("page.guidelines.listing") %>
                        <ul class="is-size-6">
                            <li><%= __("page.guidelines.bot.listing.0") %></li>
                            <li><%= __("page.guidelines.bot.listing.1") %></li>
                            <li><%= __("page.guidelines.bot.listing.2") %></li>
                            <li><%= __("page.guidelines.bot.listing.3") %></li>
                        </ul>
                    </li>
                    <li class="is-size-4"><%= __("page.guidelines.other") %>
                        <ul class="is-size-6">
                            <li><%= __("page.guidelines.bot.other.0") %></li>
                            <li><%= __("page.guidelines.bot.other.1") %></li>
                            <li><%= __("page.guidelines.bot.other.2") %></li>
                            <li><%= __("page.guidelines.bot.other.3") %></li>
                            <li><%= __("page.guidelines.bot.other.4") %>
                                <ul class="is-size-6">
                                    <li><%= __("page.guidelines.bot.other.4.1") %></li>
                                    <li><%= __("page.guidelines.bot.other.4.2") %></li>
                                    <li><%= __("page.guidelines.bot.other.4.3") %></li>
                                    <li><%= __("page.guidelines.bot.other.4.4") %></li>
                                </ul>
                            </li>
                            <li><%= __("page.guidelines.bot.other.5") %></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <br />
            <h2 class="is-size-3 has-text-default"><%= __("page.guidelines.server") %></h2>
            <div class="content">
                <ul>
                    <li class="is-size-4"><%= __("page.guidelines.listing") %>
                        <ul class="is-size-6">
                            <li><%= __("page.guidelines.server.listing.0") %></li>
                            <li><%= __("page.guidelines.server.listing.1") %></li>
                            <li><%= __("page.guidelines.server.listing.2") %></li>
                            <li><%= __("page.guidelines.server.listing.3") %></li>
                        </ul>
                    </li>
                    <li class="is-size-4"><%= __("page.guidelines.other") %>
                        <ul class="is-size-6">
                            <li><%= __("page.guidelines.server.other.0") %></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <br />
            <h2 class="is-size-3 has-text-default"><%= __("page.guidelines.template") %></h2>
            <div class="content">
                <ul>
                    <li class="is-size-4"><%= __("page.guidelines.listing") %>
                        <ul class="is-size-6">
                            <li><%= __("page.guidelines.template.listing.0") %></li>
                            <li><%= __("page.guidelines.template.listing.1") %></li>
                            <li><%= __("page.guidelines.template.listing.2") %></li>
                            <li><%= __("page.guidelines.template.listing.3") %></li>
                        </ul>
                    </li>
                    <li class="is-size-4"><%= __("page.guidelines.other") %>
                        <ul class="is-size-6">
                            <li><%= __("page.guidelines.template.other.0") %></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
<%- include("../../partials/footer.ejs") %>