<div class="column is-one-third" is-user-card>
    <div class="box has-background-contrib-<%= user.rank %>" style="overflow: hidden; height: 100%; vertical-align: middle;">
        <article class="media">
            <div class="media-left">
                <figure class="image is-64x64">
                    <img draggable="false" class="is-rounded lazyload" data-src="https://cdn.discordapp.com/avatars/<%= user.id %>/<%= user.avatarURL %>.<%= user.avatarURL.startsWith('a_') ? 'gif' : imageFormat %>" alt="<%= __("common.img.profilePicture", user.fullUsername) %>" onerror="this.onerror = null;this.src = '/img/defaultavatar.<%= imageFormat %>';console.log('<%= __("common.img.loadFail", user.id) %>');" draggable="false">
                </figure>
            </div>
            <div style="overflow: hidden;" class="media-content">
                <div class="content">
                    <a href="<%= linkPrefix %>/users/<%= user.id %>" class="has-text-white is-mobile">
                        <span class="is-size-4"><%= user.username %>#<%= user.discriminator %></span>
                        <br />
                        <% if (user.rank === "admin") { %>
                            <span><%= __("common.rank.admin") %></span>
                        <% } else if (user.rank === "assistant") { %> 
                            <span><%= __("common.rank.assistant") %></span>
                        <% } else if (user.rank === "mod") { %>
                            <span><%= __("common.rank.mod") %></span>
                        <% } else if (user.rank === "booster") { %>
                            <span><%= __("common.rank.booster") %></span>
                        <% } else if (user.rank === "translator") { %>
                            <span><%= __("common.rank.translator") %></span>
                        <% } else if (user.rank === "tester") { %>
                            <span><%= __("common.rank.tester") %></span>
                        <% } %>
                        </a>
                </div>
            </div>
        </article>
    </div>
</div>
<style>
    .has-background-contrib-admin {
        background: linear-gradient(-35deg, rgba(205, 9, 48, 0.5) 20%, rgb(205, 9, 48) 130%); 
        box-shadow: transparent 0px 2px 52px 0px;
    }
    .has-background-contrib-admin:hover {
        box-shadow: rgba(205, 9, 48, 0.3) 0px 2px 52px 0px;
    }
    .has-background-contrib-assistant {
        background: linear-gradient(-35deg, rgba(242, 68, 5, 0.5) 20%, rgb(242, 68, 5) 130%);
        box-shadow: transparent 0px 2px 52px 0px;
    }
    .has-background-contrib-assistant:hover {
        box-shadow: rgba(242, 68, 5, 0.30196078431372547) 0px 2px 52px 0px;
    }
    .has-background-contrib-mod {
        background: linear-gradient(-35deg, rgba(13, 191, 4, 0.5) 20%, rgb(13, 191, 4) 130%); 
        box-shadow: transparent 0px 2px 52px 0px;
    }
    .has-background-contrib-mod:hover {
        box-shadow: rgba(13, 191, 4, 0.3) 0px 2px 52px 0px;
    }
    .has-background-contrib-booster {
        background: linear-gradient(-35deg, rgba(205, 82, 255, 0.5) 20%, rgb(205, 82, 255) 130%); 
        box-shadow: transparent 0px 2px 52px 0px;
    }
    .has-background-contrib-booster:hover {
        box-shadow: rgba(205, 82, 255, 0.3) 0px 2px 52px 0px;
    }
    .has-background-contrib-tester {
        background: linear-gradient(-35deg, rgba(48, 150, 255, 0.5) 20%, rgb(48, 150, 255) 130%); 
        box-shadow: transparent 0px 2px 52px 0px;
    }
    .has-background-contrib-tester:hover {
        box-shadow: rgba(48, 150, 255, 0.3) 0px 2px 52px 0px;
    }
    .has-background-contrib-translator {
        background: linear-gradient(-35deg, rgba(21, 196, 255, 0.5) 20%, rgb(21, 196, 255) 130%); 
        box-shadow: transparent 0px 2px 52px 0px;
    }
    .has-background-contrib-translator:hover {
        box-shadow: rgba(21, 196, 255, 0.3) 0px 2px 52px 0px;
    }
    a.has-text-white:hover, a.has-text-white:focus {
        color: #ffffff !important;
    }
</style>
