<style>
    .del-http {
        padding: 4px;
        border-radius: 20px;
    }
</style>
<% const apiBaseURL = "https://api.discordextremelist.xyz/v2" %>
<br />
<div id="routes" style="display: none;">
    <article class="message is-info">
        <div class="message-body content has-background-primary">
            <span class="icon">
                <i class="fas fa-info-circle"></i>
            </span>
            <span>
                <%- __("docs.authRequired") %>
            </span>
        </div>
    </article>
    <br />
    <div>
        <h5 style="is-size-5">
            <span class="has-background-link del-http"><%= __("docs.routes.get") %></span> 
            <span title="<%= __("docs.lock") %>" class="icon">
                <i class="fas fa-lock-alt has-text-warning"></i>
            </span>
            <span><%= __("docs.routes.get.websiteStats") %></span>
        </h5>
        <code class="has-background-primary"><%= apiBaseURL %>/stats</code>
        <br />
        <br />
        <h6 class="is-size-6"><%= __("docs.routes.response") %></h6>
        <script src="https://gist.github.com/dellybot/65cb6cd1172de028070610209b0e05af.js"></script>
    </div>
    <br />
    <div>
        <h5 style="is-size-5">
            <span class="has-background-link del-http"><%= __("docs.routes.get") %></span> 
            <span><%= __("docs.routes.get.websiteHealth") %></span>
        </h5>
        <code class="has-background-primary"><%= apiBaseURL %>/health</code>
        <br />
        <br />
        <h6 class="is-size-6"><%= __("docs.routes.response") %></h6>
        <script src="https://gist.github.com/dellybot/da202e9fd34dd3f06edc649a15401c9f.js"></script>
    </div>
    <br />
    <div>
        <h5 style="is-size-5">
            <span class="has-background-link del-http"><%= __("docs.routes.get") %></span> 
            <span title="<%= __("docs.lock") %>" class="icon">
                <i class="fas fa-lock-alt has-text-warning"></i>
            </span>
            <span><%= __("docs.routes.get.bot.info") %></span>
        </h5>
        <code class="has-background-primary"><%= apiBaseURL %>/bot/:id</code>
        <br />
        <br />
        <h6 class="is-size-6"><%= __("docs.routes.response") %></h6>
        <script src="https://gist.github.com/dellybot/7ad79701fe7fee875febcdc50397b524.js"></script>
    </div>
    <br />
    <div>
        <h5 style="is-size-5">
            <span class="has-background-success del-http"><%= __("docs.routes.post") %></span> 
            <span title="<%= __("docs.lock") %>" class="icon">
                <i class="fas fa-lock-alt has-text-warning"></i>
            </span>
            <span><%= __("docs.routes.post.bot.stats") %></span>
        </h5>
        <code class="has-background-primary"><%= apiBaseURL %>/bot/:id/stats</code>
        <br />
        <br />
        <h6 class="is-size-6"><%= __("docs.routes.requestBody") %></h6>
        <script src="https://gist.github.com/dellybot/5913e4cb471b960594e17414a4354a7d.js"></script>
        <h6 class="is-size-6"><%= __("docs.routes.response") %></h6>
        <script src="https://gist.github.com/dellybot/f7b8162f17d963d0e7befafc6967754c.js"></script>
    </div>
    <br />
    <div>
        <h5 style="is-size-5">
            <span class="has-background-link del-http"><%= __("docs.routes.get") %></span> 
            <span title="<%= __("docs.lock") %>" class="icon">
                <i class="fas fa-lock-alt has-text-warning"></i>
            </span>
            <span><%= __("docs.routes.get.server.info") %></span>
        </h5>
        <code class="has-background-primary"><%= apiBaseURL %>/server/:id</code>
        <br />
        <br />
        <h6 class="is-size-6"><%= __("docs.routes.response") %></h6>
        <script src="https://gist.github.com/dellybot/380cc7ff485967b0d3d5cf332f68e61d.js"></script>
    </div>
    <br />
    <div>
        <h5 style="is-size-5">
            <span class="has-background-link del-http"><%= __("docs.routes.get") %></span> 
            <span title="<%= __("docs.lock") %>" class="icon">
                <i class="fas fa-lock-alt has-text-warning"></i>
            </span>
            <span><%= __("docs.routes.get.template.info") %></span>
        </h5>
        <code class="has-background-primary"><%= apiBaseURL %>/template/:id</code>
        <br />
        <br />
        <h6 class="is-size-6"><%= __("docs.routes.response") %></h6>
        <script src="https://gist.github.com/dellybot/7eedec5a74f47be7027fc1620be60a2d.js"></script>
    </div>
    <br />
    <div>
        <h5 style="is-size-5">
            <span class="has-background-link del-http"><%= __("docs.routes.get") %></span> 
            <span title="<%= __("docs.lock") %>" class="icon">
                <i class="fas fa-lock-alt has-text-warning"></i>
            </span>
            <span><%= __("docs.routes.get.user.info") %></span>
        </h5>
        <code class="has-background-primary"><%= apiBaseURL %>/user/:id</code>
        <br />
        <br />
        <h6 class="is-size-6"><%= __("docs.routes.response") %></h6>
        <script src="https://gist.github.com/dellybot/355fdf54100ca265ecf8986275633093.js"></script>
    </div>
</div>