<strong class="has-text-info"><%= __("page.staff.manager.botStat.total") %></strong> <span class="has-text-info"><%= user.staffTracking.handledBots[range].total %></span>
<br>
<strong class="has-text-success"><%= __("page.staff.manager.botStat.approved") %></strong> <span class="has-text-success"><%= user.staffTracking.handledBots[range].approved %></span>
<br>
<strong class="has-text-warning"><%= __("page.staff.manager.botStat.declined") %></strong> <span class="has-text-warning"><%= user.staffTracking.handledBots[range].declined %></span>
<br>
<strong class="has-text-orange"><%= __("page.staff.manager.botStat.unapproved") %></strong> <span class="has-text-orange"><%= user.staffTracking.handledBots[range].unapprove %></span>
<br>
<strong class="has-text-danger"><%= __("page.staff.manager.botStat.removed") %></strong> <span class="has-text-danger"><%= user.staffTracking.handledBots[range].remove %></span>
