<br />
</div>
</div>
<div style="padding: 1.25rem;" id="siteFooter" class="has-text-centered has-background-black">
    <!-- This is a license notice, removing or modifying this is a breach of the DEL Open Source license. -->
    <a onclick="showLicense()" style="padding-bottom: 10px" title="<%= __("common.footer.copyright.title.0") %>" id="licenseNotice" class="has-text-white" target="_blank" rel="noopener"><%- __("common.footer.copyright", { currentYear: new Date().getFullYear(), names: "Cairo Mitchell-Acason, John Burke, Advaith Jagathesan;" }) %></a>
    <!-- END -->
    <div id="generalLicenseInfo" style="display: none;">
        <%= __("common.footer.trademark") %>
    <br />
        <%= __("common.footer.discordDisclaimer") %>
    </div>
    <br id="footerBreak" />
    <a href="<%= socialMedia.facebook %>" aria-label="<%= __("common.social.facebook.del") %>" target="_blank" rel="noopener" title="<%= __("common.social.facebook") %></a>" class="icon <% if (mobile) { %> is-medium<% } %> has-text-link">
        <i class="fab fa-facebook fa-del-social" aria-hidden="true"></i>
    </a>
    <a href="<%= socialMedia.twitter %>" aria-label="<%= __("common.social.twitter.del") %>" target="_blank" rel="noopener" title="<%= __("common.social.twitter") %>" class="icon <% if (mobile) { %> is-medium<% } %> has-text-info">
        <i class="fab fa-twitter fa-del-social" aria-hidden="true"></i>
    </a>
    <a href="<%= socialMedia.instagram %>" aria-label="<%= __("common.social.instagram.del") %>" target="_blank" rel="noopener" title="<%= __("common.social.instagram") %>" class="icon <% if (mobile) { %> is-medium<% } %> has-text-magenta">
        <i class="fab fa-instagram fa-del-social" aria-hidden="true"></i>
    </a>
    <a href="<%= socialMedia.github %>" aria-label="<%= __("common.social.github.del") %>" target="_blank" rel="noopener" title="<%= __("common.social.github") %>" class="icon <% if (mobile) { %> is-medium<% } %> has-text-white">
        <i class="fab fa-github fa-del-social" aria-hidden="true"></i>
    </a>
    <a href="<%= socialMedia.patreon %>" aria-label="<%= __("common.social.patreon.del") %>" target="_blank" rel="noopener" title="<%= __("common.social.patreon") %>" class="icon <% if (mobile) { %> is-medium<% } %> has-text-orange">
        <i class="fab fa-patreon fa-del-social" aria-hidden="true"></i>
    </a>
    <br />
    <span id="premidPageInfo" style="display: none;"><%= premidPageInfo || __("common.page") %></span>
</div>
<script>function showLicense(){document.getElementById("licenseNotice").setAttribute("onclick",""),document.getElementById("licenseNotice").setAttribute("title",'<%= __("common.footer.copyright.title.1") %>'),document.getElementById("generalLicenseInfo").style.display="block",document.getElementById("footerBreak").style.display="none",setTimeout(()=>{document.getElementById("licenseNotice").setAttribute("href","https://github.com/discordextremelist/website/blob/master/LICENSE")},500)}</script>
<% if (req.user && !mobile) { %><script type="text/javascript">if(window.matchMedia("(min-width: 768px)").matches&&window.matchMedia("(max-width: 1445px)").matches){const buttons=document.getElementById("authButtons");buttons.parentNode.removeChild(buttons);const template=document.getElementById("navTemplate");const snake=document.getElementById("navSnake");if(!snake){template.insertAdjacentHTML("afterend",`<hr class="navbar-divider">
    <% if (ddosMode === true) { %>
        <a class="navbar-item has-text-danger" title="<%= __("common.notice.ddosMode") %>" disabled tabindex="0">
            <span class="icon iconalign">
                <i class="fad fa-sign-out" aria-hidden="true"></i>
            </span>
            <span><%= __("common.logout") %></span>
        </a>
    <% } else { %>
        <a class="navbar-item has-text-danger" href="/auth/logout" tabindex="0">
            <span class="icon iconalign">
                <i class="fad fa-sign-out" aria-hidden="true"></i>
            </span>
            <span><%= __("common.logout") %></span>
        </a>
    <% } %>`)}else{snake.insertAdjacentHTML("afterend",`<% if (ddosMode === true) { %>
        <a class="navbar-item has-text-danger" title="<%= __("common.notice.ddosMode") %>" disabled tabindex="0">
            <span class="icon iconalign">
                <i class="fad fa-sign-out" aria-hidden="true"></i>
            </span>
            <span><%= __("common.logout") %></span>
        </a>
    <% } else { %>
        <a class="navbar-item has-text-danger" href="/auth/logout" tabindex="0">
            <span class="icon iconalign">
                <i class="fad fa-sign-out" aria-hidden="true"></i>
            </span>
            <span><%= __("common.logout") %></span>
        </a>
    <% } %>`)}}</script>
<% } %>
<script type="text/javascript">(function(o){"use strict";var e=navigator.serviceWorker;if(!e)return this.UpUp=null,o;var i={"service-worker-url":"upup.sw.min.js","registration-options":{}},s=!1,n="font-weight: bold; color: #00f;";this.UpUp={start:function(t){this.addSettings(t),e.register(i["service-worker-url"],i["registration-options"]).then(function(t){s&&console.log("Service worker registration successful with scope: %c"+t.scope,n),(t.installing||e.controller||t.active).postMessage({action:"set-settings",settings:i})}).catch(function(t){s&&console.log("Service worker registration failed: %c"+t,n)})},addSettings:function(e){"string"==typeof(e=e||{})&&(e={content:e}),["content","content-url","assets","service-worker-url","cache-version"].forEach(function(t){e[t]!==o&&(i[t]=e[t])}),e.scope!==o&&(i["registration-options"].scope=e.scope)},debug:function(t){s=!(0<arguments.length)||!!t}}}).call(this);</script>
<script type="text/javascript">document.addEventListener("DOMContentLoaded",function(){var t=Array.prototype.slice.call(document.querySelectorAll(".navbar-burger"),0);0<t.length&&t.forEach(function(e){e.addEventListener("click",function(){var t=document.getElementById(e.dataset.target);e.classList.toggle("is-active"),t.classList.toggle("is-active")})})});UpUp.start({"content-url":"offline.html",assets:["/css/standard.css?v=<%= cssVersion %>", "/fonts/fa/css/all.css?v=<%= cssVersion %>", "/fonts/offline-fonts.css","/fonts/fa/webfonts/fa-duotone-900.woff2"],"service-worker-url":"/upup.sw.min.js"});</script>
<script type="text/javascript">console.log(`%cSTOP! DELLYTIME%c\n\nDEBUG INFORMATION:\n%cVersion: <%= req.del.version %>\nRelease Channel: <%= req.del.channel %>\nNode: <%= req.del.node %>\nResponse time: <%= Date.now() - requestedAt %>ms\n\nUser-Agent: ${navigator.userAgent}`,"color: red; font-size: xx-large; background-color: #000; padding: 10px; border-radius: 5px;","color: yellow; font-size: medium;","font-size: x-small;");</script>
<script src="https://twemoji.maxcdn.com/v/13.0.0/twemoji.min.js" integrity="sha384-avLpk7eChiSgpDvwa4N7hvg9vj6V9sfFmGHurVkPOlWUalASzcO3d2x3qcbQqhsH" crossorigin="anonymous"></script>
<script type="text/javascript" defer>twemoji.parse(document.body, {folder: 'svg', ext: '.svg'})</script>
<script src="https://status.discordextremelist.xyz/embed/script.js"></script>
<% if (subtitle === "") { %><script type="text/javascript" async defer>let seizure=0;function invokeSeizureMode(){seizure+=1;if(seizure===3){seizureMode()}}function seizureMode(){const body=document.getElementById("siteContent");const hero=document.getElementsByClassName("hero")[0];let audio;if(Math.floor(Math.random()*10)+1>=10){audio=new Audio("/audio/nyan.mp3")}else{audio=new Audio("/audio/rick.mp3")}body.style.fontFamily="Comic Sans MS";document.getElementsByClassName("title")[0].innerText="Discord Seizure List:tm:!";document.getElementsByClassName("subtitle")[0].innerText="Discord's unbiased list, giving people seizures all across the world!";document.getElementById("delLogo").src = "/img/logo-seizuremode.png";audio.play();setInterval(()=>{setTimeout(()=>{body.style.backgroundColor="#ff1493";hero.style.backgroundColor="#ffffff"},0);setTimeout(()=>{body.style.backgroundColor="#ffffff";hero.style.backgroundColor="#ff1493"},20)},100)}</script><% } %>
<% if (mobile) { %>
    <script type="text/javascript">function display(s,i){s.classList.contains("is-hidden-mobile")?s.classList.remove("is-hidden-mobile"):s.classList.add("is-hidden-mobile"),i.classList.contains("fa-chevron-left")?(i.classList.remove("fa-chevron-left"),i.classList.add("fa-chevron-down"),i.style.right="16px"):(i.classList.add("fa-chevron-left"),i.classList.remove("fa-chevron-down"),i.style.right="18.4px")}</script>
<% } %>
</body>
</html>
