<%- include("../../partials/header.ejs") %>
<link href="/css/form.css" type="text/css" media="screen, print" rel="stylesheet" />
<link rel="stylesheet" data-name="vs/editor/editor.main" href="/packages/monaco-editor/min/vs/editor/editor.main.css">
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<%- include("../../partials/nav.ejs") %>
<section class="hero is-black">
    <div class="hero-body">
      <div class="container has-text-centered">
            <h1 class="title">
                <span class="icon is-medium iconalign">
                    <i class="fad fa-plus-square fa-1x" aria-hidden="true"></i>
                </span>
                <br />
                <span><%= title %></span>
            </h1>
            <h2 class="subtitle">
                <%= subtitle %>
            </h2>
        </div>
    </div>
    </section>
    <div class="container">
        <div class="section">
            <article class="message is-danger">
                <div class="message-body content has-background-primary">
                    <ul style="margin-top: unset;">
                        <%- errors.map(err => `<li>${err}</li>`).join('') %>
                    </ul>
                </div>
            </article>

            <form id="form" method="POST">
                <h3 class="is-size-3 has-text-blurple"><%= __("General Information") %></h3>
                <br />
                <div class="field">
                    <label class="label has-text-blurple"><%= __("Bot ID") %> <span class="has-text-danger">(<%= __("Read-only") %>)</span></label>
                    <p class="control has-icons-left has-icons-right" required>
                        <input class="input is-rounded" type="text" name="id" value="<%= bot.id %>" placeholder="568254611354419211" readonly>
                        <span class="icon is-small is-left">
                            <i class="fas fa-hashtag"></i>
                        </span>
                    </p>
                </div>
                <br />
                <div class="field">
                    <label class="label has-text-blurple"><%= __("Bot Editors") %> <span class="has-text-magenta">(<%= __("Space-Separated") %>)</span></label>
                    <p class="control has-icons-left has-icons-right">
                        <input class="input is-rounded" type="text" name="editors" value="<%= bot.editors %>" placeholder="<%= __("awesomepersonsid coolpersonsid bestfriendsid") %>">
                        <span class="icon is-small is-left">
                            <i class="fas fa-user"></i>
                        </span>
                    </p>
                    <p style="padding: 5px;" class="is-size-7 has-text-danger"><%= __("You do not need to include your own ID.") %></p>
                </div>
                <br />
                <div class="field">
                    <label class="label has-text-blurple"><%= __("Bot Prefix") %> <span class="has-text-danger">*</span></label>
                    <p class="control has-icons-left has-icons-right" required>
                        <input class="input is-rounded" type="text" value="<%= bot.prefix %>" name="prefix" placeholder="!">
                        <span class="icon is-small is-left">
                            <i class="fas fa-paper-plane"></i>
                        </span>
                    </p>
                </div>
                <br />
                <div class="field">
                    <label class="label has-text-blurple"><%= __("Bot Library") %> <span class="has-text-danger">*</span></label>
                    <div class="control has-icons-left">
                        <div class="select is-rounded">
                            <select name="library" required>
                                <option value="" disabled selected><%= __("Select") %></option>
                                <option value="<%= library %>" selected><%= library %></option>
                                <%- libraries.map(lib => `<option value="${lib.name}">${lib.name}</option>`) %>
                            </select>
                        </div>
                        <div class="icon is-small is-left">
                            <i class="fas fa-book"></i>
                        </div>
                    </div>
                </div>
                <br />
                <label class="label has-text-blurple"><%= __("Tags") %></label>
                <div class="field">
                    <input class="is-checkradio is-circle has-background-color is-link" type="checkbox" id="fun" name="fun" <% if (tags && tags.includes("Fun")) { %>checked="checked"<% } %>>
                    <label class="has-text-link" for="fun"><%= __("Fun") %></label>
                </div>
                <div class="field">
                    <input class="is-checkradio is-circle has-background-color is-info" type="checkbox" id="social" name="social" <% if (tags && tags.includes("Social")) { %>checked="checked"<% } %>>
                    <label class="has-text-info" for="social"><%= __("Social") %></label>
                </div>
                <div class="field">
                    <input class="is-checkradio is-circle has-background-color is-success" type="checkbox" id="economy" name="economy" <% if (tags && tags.includes("Economy")) { %>checked="checked"<% } %>>
                    <label class="has-text-success" for="economy"><%= __("Economy") %></label>
                </div>
                <div class="field">
                    <input class="is-checkradio is-circle has-background-color is-orange" type="checkbox" id="utility" name="utility" <% if (tags && tags.includes("Utility")) { %>checked="checked"<% } %>>
                    <label class="has-text-orange" for="utility"><%= __("Utility") %></label>
                </div>
                <div class="field">
                    <input class="is-checkradio is-circle has-background-color is-danger" type="checkbox" id="moderation" name="moderation" <% if (tags && tags.includes("Moderation")) { %>checked="checked"<% } %>>
                    <label class="has-text-danger" for="moderation"><%= __("Moderation") %></label>
                </div>
                <div class="field">
                    <input class="is-checkradio is-circle has-background-color is-magenta" type="checkbox" id="multipurpose" name="multipurpose" <% if (tags && tags.includes("Multipurpose")) { %>checked="checked"<% } %>>
                    <label class="has-text-magenta" for="multipurpose"><%= __("Multipurpose") %></label>
                </div>
                <div class="field">
                    <input class="is-checkradio is-circle has-background-color is-pink" type="checkbox" id="music" name="music" <% if (tags && tags.includes("Music")) { %>checked="checked"<% } %>>
                    <label class="has-text-pink" for="music"><%= __("Music") %></label>
                </div>
                <br />
                <br />
                <h3 class="is-size-3 has-text-blurple"><%= __("Links") %></h3>
                <br />
                <div class="field">
                    <label class="label has-text-blurple"><%= __("Bot Invite") %></label>
                    <p class="control has-icons-left has-icons-right">
                        <input class="input is-rounded" type="text" name="invite" value="<%= bot.invite %>" placeholder="<%= __("If this is left blank, we will automatically generate a permission-less invite.") %>">
                        <span class="icon is-small is-left">
                            <i class="fas fa-link"></i>
                        </span>
                    </p>
                </div>
                <br />
                <div class="field">
                    <label class="label has-text-blurple"><%= __("Bot Website") %></label>
                    <p class="control has-icons-left has-icons-right">
                        <input class="input is-rounded" type="text" name="website" value="<%= bot.website %>" placeholder="https://example.com">
                        <span class="icon is-small is-left">
                            <i class="fas fa-globe"></i>
                        </span>
                    </p>
                </div>
                <br />
                <div class="field">
                    <label class="label has-text-blurple"><%= __("Bot Donation Link") %></label>
                    <p class="control has-icons-left has-icons-right">
                        <input class="input is-rounded" type="text" name="donationUrl" value="<%= bot.donationUrl %>" placeholder="https://example.com/givememoneyplsimbroke">
                        <span class="icon is-small is-left">
                            <i class="fas fa-dollar-sign"></i>
                        </span>
                    </p>
                </div>
                <br />
                <div class="field">
                    <label class="label has-text-blurple"><%= __("Bot Support Server") %></label>
                    <p class="control has-icons-left has-icons-right">
                        <input class="input is-rounded" type="text" name="supportServer" value="<%= bot.supportServer %>" placeholder="https://discord.gg/someawesumsupportservhor">
                        <span class="icon is-small is-left">
                            <i class="fas fa-heart"></i>
                        </span>
                    </p>
                </div>
                <br />
                <div class="field">
                    <label class="label has-text-blurple"><%= __("Bot Git Repository") %></label>
                    <p class="control has-icons-left has-icons-right">
                        <input class="input is-rounded" type="text" name="repo" value="<%= bot.repo %>" placeholder="https://github.com/awsumpersunorpage/awsumrepo">
                        <span class="icon is-small is-left">
                            <i class="fas fa-code-branch"></i>
                        </span>
                    </p>
                </div>
                <br />
                <br />
                <h3 class="is-size-3 has-text-blurple"><%= __("Descriptions") %></h3>
                <br />
                <div class="field">
                    <label class="label has-text-blurple"><%= __("Bot Short Description") %> <span class="has-text-danger">*</span></label>
                    <p class="control has-icons-left has-icons-right">
                        <input class="input is-rounded" type="text" name="shortDescription" value="<%= bot.shortDescription %>" placeholder="<%= __("I'm an amazing bot that can do this and that and yeah kthx invite me") %>" required>
                        <span class="icon is-small is-left">
                            <i class="fas fa-comment-dots"></i>
                        </span>
                    </p>
                </div>
                <br />
                <div class="field">
                    <label class="label has-text-blurple"><%= __("Bot Long Description") %> (HTML & Markdown) <span class="has-text-danger">*</span></label>
                    <div onkeyup="monacoToField();" id="longDescEditor" style="width:800px;height:350px;border:1px solid grey"></div>
                    <input hidden name="longDescription" id="longDesc" />
                </div>
                <br />
                <div class="field">
                    <label class="label has-text-blurple"><%= __("Bot Mod Notes") %></label>
                    <textarea id="modNotes" value="<%= bot.modNotes %>" name="modNotes"></textarea>
                    <p style="padding: 5px;" class="is-size-7 has-text-magenta"><%= __("Something you want to inform the moderators testing your bot about.") %></p>
                </div>
                <br />
                <div class="field is-grouped">
                    <div class="buttons">
                        <button class="button is-success">
                            <span class="icon">
                              <i class="fas fa-check-circle"></i>
                            </span>
                            <span><%= __("Submit") %></span>
                        </button>
                        <a href="/" class="button is-danger">
                            <span class="icon">
                              <i class="fas fa-times-circle"></i>
                            </span>
                            <span><%= __("Cancel") %></span>
                        </a>
                    </div>
                </div>
            </form>    
        </div>
        <script>var require = { paths: { "vs": "/packages/monaco-editor/min/vs" } };</script>
        <script src="/packages/monaco-editor/min/vs/loader.js"></script>
        <script src="/packages/monaco-editor/min/vs/editor/editor.main.nls.js"></script>
        <script src="/packages/monaco-editor/min/vs/editor/editor.main.js"></script>
        <script>
            var longDescEditor = monaco.editor.create(document.getElementById("longDescEditor"), {
                // value: [
                //     'function x() {',
                //     '\tconsole.log("Hello world!");',
                //     '}'
                // ].join('\n'),
                value: "<%= bot.longDescription %>",
                language: "markdown"
            });
            function monacoToField() {
                var value = window.longDescEditor.getValue();
                $("#longDesc").val(value);
            }
            monaco.editor.setTheme("vs-dark");
        </script>    
<%- include("../../partials/footer.ejs") %>