<%- include("../../partials/header.ejs") %>
<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": 1,
                "name": "Home",
                "item": "https://discordextremelist.xyz/"
            },
            {
                "@type": "ListItem",
                "position": 2,
                "name": "Bots",
                "item": "https://discordextremelist.xyz/bots"
            },
            {
                "@type": "ListItem",
                "position": 2,
                "name": "<%= bot.name %>",
                "item": "https://discordextremelist.xyz/bots/<%= bot._id %>"
            }
        ]
    }
</script>
<%- include("../../partials/nav.ejs") %>
<style type="text/css">h1{font-size:48px}h2{font-size:40px}h3{font-size:32px}h4{font-size:24px}h5{font-size:20px}h6{font-size:16px}strong{color:#fff}code{background-color:#1f1f1f}pre{color:#ff3860;background-color:#1f1f1f}table th{color:#d2d2d2}a:hover{color:#1c5abd}.content h1,.content h2,.content h3,.content h4,.content h5,.content h6{color:#fff;font-weight:inherit}table{display:block;width:100%;overflow:auto;word-break:normal;word-break:keep-all;-webkit-overflow-scrolling:touch}blockquote{background-color:transparent!important;}</style>
<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <br />
            <div class="columns">
                <div class="column is-2">
                    <% 
                        let statusInfo;
                        if (botStatus === "online") statusInfo = __("page.bots.status.online")
                        if (botStatus === "idle") statusInfo = __("page.bots.status.idle")
                        if (botStatus === "dnd") statusInfo = __("page.bots.status.dnd")
                        if (botStatus === "offline") statusInfo = __("page.bots.status.offline")
                    %> 
                    <img class="image" title="<%= statusInfo %>" style="<% if (mobile) { %>display: block; margin-left: auto; margin-right: auto;<% } %> border-radius: 50%; animation: <%= botStatus %> 2s infinite !important;" src="<%= bot.avatar.url %>.<%= imageFormat %>?size=128" alt="<%= bot.name %>'s Avatar" onerror="this.onerror = null;this.src = '/img/defaultavatar.<%= imageFormat %>';console.log('<%= __("common.img.loadFail") %>');" draggable="false">
                </div>
            <div class="column is-10 <% if (mobile) { %>has-text-centered<% } %>">
                    <h1 class="is-size-1">
                        <span id="botName"><%= bot.name %></span>
                        <% if (bot.status.verified === true) { %>
                            <span style="vertical-align: middle;" title="<%= __("common.rank.verified.bot") %>" class="icon is-medium is-size-3 iconalign">
                                <i aria-hidden="true" class="fad fa-badge-check has-text-magenta fa-1x"></i>
                            </span>
                        <% } %>

                        <% if (bot.status.siteBot === true) { %>
                            <span style="vertical-align: middle;" title="<%= __("common.rank.siteBot") %>" class="icon is-size-3 is-medium iconalign">
                                <i aria-hidden="true" class="fad fa-cogs has-text-grey-lighter fa-1x"></i>
                            </span>
                        <% } %>

                        <% if (bot.status.approved === false) { %>
                            <span style="vertical-align: middle;" title="<%= __("common.rank.unverified") %>" class="icon is-medium is-size-3 iconalign">
                                <i aria-hidden="true" class="fad fa-exclamation-triangle has-text-danger fa-1x"></i>
                            </span>
                        <% } %>
                    </h1>
                    <h2 class="subtitle"><%= bot.shortDesc %></h2>
                    <div class="buttons <% if (mobile) { %>is-centered<% } %>">
                        <a href="<%= linkPrefix %>/bots/<%= bot._id %>/upvote" class="button <% if (req.user && bot.votes.positive.includes(req.user.id)) { %>is-success<% } else { %>is-dark<% } %>">
                            <span class="icon">
                                <i aria-hidden="true" class="fas fa-arrow-alt-up"></i>
                            </span>
                        </a>
                        <% if (votes > 0) { %>
                            <span class="button is-black is-hovered has-text-success" title="<%= __("common.votes") %></span>"><%= votes %></span>
                        <% } else if (votes === 0) { %>
                            <span class="button is-black is-hovered has-text-grey-light" title="<%= __("common.votes") %>"><%= votes %></span>
                        <% } else if (votes < 0) { %>
                            <span class="button is-black is-hovered has-text-danger" title="<%= __("common.votes") %>"><%= votes %></span>
                        <% } %>
                        <a href="<%= linkPrefix %>/bots/<%= bot._id %>/downvote" class="button <% if (req.user && bot.votes.negative.includes(req.user.id)) { %>is-danger<% } else { %>is-dark<% } %>">
                            <span class="icon">
                                <i aria-hidden="true" class="fas fa-arrow-alt-down"></i>
                            </span>
                        </a>
                    </div>
                    <% if (req.user) { %>
                        <div class="buttons <% if (mobile) { %>is-centered<% } %>">
                        <% if (bot.owner.id === req.user.id) { %>
                            <button class="button is-dark" onclick="copyToClipboard('<%= bot.token %>');">
                                <span class="icon">
                                    <i aria-hidden="true" class="fas fa-key"></i>
                                </span>
                                <span><%= __("page.bots.copyToken") %></span>
                            </button>
                            <% if (bot.status.verified === false) { %>
                                <% if (bot.serverCount >= 100) { %>
                                    <a href="<%= linkPrefix %>/apply/verification" class="button is-dark">
                                        <span class="icon">
                                            <i aria-hidden="true" class="fas fa-badge-check"></i>
                                        </span>
                                        <span><%= __("page.bots.verificationApplication") %></span>
                                    </a>
                                <% } %>
                            <% } %>
                            <% if (bot.status.approved === false && bot.vanityUrl !== "") { %>
                                <a href="" id="setVanity" class="button is-dark">
                                    <span class="icon">
                                        <i aria-hidden="true" class="fas fa-link"></i>
                                    </span>
                                    <span><%= __("page.bots.setVanity") %></span>
                                </a>
                            <% } %>
                            <a href="<%= linkPrefix %>/bots/<%= bot._id %>/edit" class="button is-dark">
                                <span class="icon">
                                    <i aria-hidden="true" class="fas fa-pencil"></i>
                                </span>
                                <span><%= __("common.edit") %></span>
                            </a>
                            <a href="" id="deleteModal" class="button is-dark">
                                <span class="icon">
                                    <i aria-hidden="true" class="fas fa-trash"></i>
                                </span>
                                <span><%= __("common.delete") %></span>
                            </a>
                        <% } else if (bot.editors && bot.editors.includes(req.user.id)) { %>
                            <a href="<%= linkPrefix %>/bots/<%= bot._id %>/edit" class="button is-dark">
                                <span class="icon">
                                    <i aria-hidden="true" class="fas fa-pencil"></i>
                                </span>
                                <span><%= __("common.edit") %></span>
                            </a>
                        <% } %>
                        <% if (user.db.rank.mod) { %>
                            <div class="dropdown">
                                <div class="dropdown-trigger">
                                  <button class="button is-dark" aria-haspopup="true" aria-controls="dropdown-ui-actions">
                                    <span class="icon">
                                        <i aria-hidden="true" class="fas fa-cogs" aria-hidden="true"></i>
                                    </span>
                                    <span><%= __("common.staffManagement") %></span>
                                    <span class="icon is-small">
                                      <i aria-hidden="true" class="fas fa-angle-down" aria-hidden="true"></i>
                                    </span>
                                  </button>
                                </div>
                                <div class="dropdown-menu" id="dropdown-ui-actions" role="menu">
                                  <div class="dropdown-content">
                                    <div class="dropdown-item">
                                        <p class="has-text-danger"><%= __("common.staffManagement.warning") %></p>
                                    </div>
                                    <hr class="dropdown-divider">
                                    <% if (user.db.rank.assistant === true) { %>
                                        <% if (bot.status.verified === false) { %>
                                            <a class="dropdown-item" href="<%= linkPrefix %>/bots/<%= bot._id %>/verify">
                                                <span class="icon"><i aria-hidden="true" class="fas fa-badge-check"></i></span>
                                                <span><%= __("common.staff.verify") %></span>
                                            </a>
                                        <% } else { %>
                                            <a class="dropdown-item" href="<%= linkPrefix %>/bots/<%= bot._id %>/unverify">
                                                <span class="icon"><i aria-hidden="true" class="fas fa-badge"></i></span>
                                                <span><%= __("common.staff.unverify") %></span>
                                            </a>
                                        <% } %>
                                    <% } %>
                                    <% if (bot.status.approved === true) { %>
                                        <a class="dropdown-item" href="<%= linkPrefix %>/bots/<%= bot._id %>/remove">
                                            <span class="icon"><i aria-hidden="true" class="fas fa-trash"></i></span>
                                            <span><%= __("common.staff.remove") %></span>
                                        </a>
                                    <% } else { %>
                                        <a class="dropdown-item" href="<%= linkPrefix %>/bots/<%= bot._id %>/approve">
                                            <span class="icon"><i aria-hidden="true" class="fas fa-check"></i></span>
                                            <span><%= __("common.staff.approve") %></span>
                                        </a>
                                        <a class="dropdown-item" href="<%= linkPrefix %>/bots/<%= bot._id %>/decline">
                                            <span class="icon"><i aria-hidden="true" class="fas fa-minus"></i></span>
                                            <span><%= __("common.staff.decline") %></span>
                                        </a>
                                        <a class="dropdown-item" target="_blank" href="https://discord.com/oauth2/authorize?client_id=<%= bot._id %>&scope=bot&guild_id=<%= staffServer %>">
                                            <span class="icon"><i class="fas fa-vial"></i></span>
                                            <span><%= __("page.bots.invite.staff") %></span>
                                        </a>
                                        <a class="dropdown-item" target="_blank" href="https://discord.com/oauth2/authorize?client_id=<%= bot._id %>&scope=bot&guild_id=<%= mainServer %>">
                                            <span class="icon"><i class="fas fa-shield-alt"></i></span>
                                            <span><%= __("page.bots.invite.main") %></span>
                                        </a>
                                    <% } %>
                                  </div>
                                </div>
                              </div>
                        <% } %>
                        </div>
                    <% } %>
                    <div class="buttons <% if (mobile) { %>is-centered<% } %>">
                        <% if (bot.links.website) { %>
                            <a target="_blank" rel="noopener" href="<%= bot.links.website %>" class="button is-link">
                                <span class="icon">
                                    <i aria-hidden="true" class="fas fa-globe"></i>
                                </span>
                                <span><%= __("common.website") %></span>
                            </a>
                        <% } %>
                        <a target="_blank" href="<%= linkPrefix %>/bots/<%= bot._id %>/invite" class="button is-info">
                            <span class="icon">
                                <i aria-hidden="true" class="fas fa-plus"></i>
                            </span>
                            <span><%= __("common.invite") %></span>
                        </a>
                        <% if (bot.links.donation) { %>
                            <a target="_blank" rel="noopener" href="<%= bot.links.donation %>" class="button is-success">
                                <span class="icon">
                                    <i aria-hidden="true" class="fas fa-dollar-sign"></i>
                                </span>
                                <span><%= __("common.donate") %></span>
                            </a>
                        <% } %>
                        <% if (bot.links.repo) { %>
                            <a target="_blank" rel="noopener" href="<%= bot.links.repo %>" class="button is-orange">
                                <span class="icon">
                                    <i aria-hidden="true" class="fas fa-code-branch"></i>
                                </span>
                                <span><%= __("page.bots.git.view") %></span>
                            </a>
                        <% } %>
                        <% if (bot.links.support) { %>
                            <a target="_blank" rel="noopener" href="<%= bot.links.support %>" class="button is-danger">
                                <span class="icon">
                                    <i aria-hidden="true" class="fas fa-heart"></i>
                                </span>
                                <span><%= __("page.bots.supportServer.view") %></span>
                            </a>
                        <% } %>
                    </div>
                    <div class="field is-grouped is-grouped-multiline <% if (mobile) { %>is-grouped-centered<% } %>">
                        <div class="control">
                            <div class="tags has-addons">
                                <span class="tag is-dark"><%= __("page.bots.generalInfo.prefix.view") %></span>
                                <span class="tag is-link"><%= bot.prefix %></span>
                            </div>
                        </div>
                        <div class="control">
                            <div class="tags has-addons">
                                <span class="tag is-dark"><%= __("page.bots.generalInfo.library.view") %></span>
                                <span class="tag is-info"><%= bot.library %></span>
                            </div>
                        </div>
                        <div class="control">
                            <div class="tags has-addons">
                                <span class="tag is-dark"><%= __("common.servers") %></span>
                                <span class="tag is-success"><% if (bot.serverCount !== 0) { %><%= bot.serverCount %><% } else { %>???<% } %></span>
                            </div>
                        </div>
                        <div class="control">
                            <div class="tags has-addons">
                                <span class="tag is-dark"><%= __("page.bots.shards") %></span>
                                <span class="tag is-orange"><% if (bot.shardCount !== 0) { %><%= bot.shardCount %><% } else { %>???<% } %></span>
                            </div>
                        </div>
                        <div class="control">
                            <div class="tags has-addons">
                                <span class="tag is-dark"><%= __("common.owner") %></span>
                                <span class="tag is-danger"><a class="has-text-white" href="<%= linkPrefix %>/users/<%= bot.owner.id %>"><%= botOwner.fullUsername %></a></span>
                            </div>
                        </div>
                    </div>
                    <% if (bot.tags && bot.tags.length > 0) { %>
                        <div class="field is-grouped is-grouped-multiline <% if (mobile) { %>is-grouped-centered<% } %>">
                            <% if (bot.tags.includes("Fun")) { %>
                                <div class="control">
                                    <p class="tag is-link">
                                        <span class="icon">
                                            <i aria-hidden="true" class="fas fa-tag"></i>
                                        </span>
                                        <span><%= __("page.bots.tag.fun") %></span>
                                    </p>
                                </div>
                            <% } %>
                            <% if (bot.tags.includes("Social")) { %>
                                <div class="control">
                                    <p class="tag is-info">
                                        <span class="icon">
                                            <i aria-hidden="true" class="fas fa-tag"></i>
                                        </span>
                                        <span><%= __("page.bots.tag.social") %></span>
                                    </p>
                                </div>
                            <% } %>
                            <% if (bot.tags.includes("Economy")) { %>
                                <div class="control">
                                    <p class="tag is-success">
                                        <span class="icon">
                                            <i aria-hidden="true" class="fas fa-tag"></i>
                                        </span>
                                        <span><%= __("page.bots.tag.economy") %></span>
                                    </p>
                                </div>
                            <% } %>
                            <% if (bot.tags.includes("Utility")) { %>
                                <div class="control">
                                    <p class="tag is-orange">
                                        <span class="icon">
                                            <i aria-hidden="true" class="fas fa-tag"></i>
                                        </span>
                                        <span><%= __("page.bots.tag.utility") %></span>
                                    </p>
                                </div>
                            <% } %>
                            <% if (bot.tags.includes("Moderation")) { %>
                                <div class="control">
                                    <span class="tag is-danger">
                                        <span class="icon">
                                            <i aria-hidden="true" class="fas fa-tag"></i>
                                        </span>
                                        <span><%= __("page.bots.tag.moderation") %></span>
                                    </span>
                                </div>
                            <% } %>
                            <% if (bot.tags.includes("Multipurpose")) { %>
                                <div class="control">
                                    <p class="tag is-magenta">
                                        <span class="icon">
                                            <i aria-hidden="true" class="fas fa-tag"></i>
                                        </span>
                                        <span><%= __("page.bots.tag.multipurpose") %></span>
                                    </p>
                                </div>
                            <% } %>
                            <% if (bot.tags.includes("Music")) { %>
                                <div class="control">
                                    <p class="tag is-pink">
                                        <span class="icon">
                                            <i aria-hidden="true" class="fas fa-tag"></i>
                                        </span>
                                        <span><%= __("common.tags.music") %></span>
                                    </p>
                                </div>
                            <% } %>
                        </div>
                    <% } %>
                </div>
            </div>
            <% if (req.user) { %>
                <% if (req.user.db.rank.mod === true) { %>
                    <% if (bot.modNotes && bot.status.approved === false) { %>
                        <div class="container">
                            <article class="message is-blurple">
                                <div class="message-header">
                                    <p class="has-text-primary"><%= __("page.bots.modNotes.view") %></p>
                                </div>
                                <div class="message-body has-background-black">
                                    <%= bot.modNotes %>
                                </div>
                            </article>
                        </div>
                        <br />
                    <% } %>
                <% } %>
            <% } %>
        </div>
    </div>
</section>
<div class="container" style="overflow: hidden;">
    <div id="content" class="section content" style="white-space: pre;"></div>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script> 
    <script>
        document.getElementById('content').innerHTML = marked(`<%- longDesc %>`);
    </script> 
</div>
<div class="modal deleteModal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title has-text-danger"><%= __("common.warning") %></p>
        </header>
        <section class="modal-card-body has-text-danger">
            <%= __("page.bots.warning.delete") %>
        </section>
        <footer class="modal-card-foot">
            <div class="buttons">
                <a class="button is-success" href="<%= linkPrefix %>/bots/<%= bot._id %>/delete">
                    <span class="icon">
                        <i aria-hidden="true" class="fas fa-check-circle"></i>
                    </span>
                    <span><%= __("common.delete") %></span>
                </a>
                <button class="button is-danger" id="close-modal">
                    <span class="icon">
                        <i aria-hidden="true" class="fas fa-times-circle"></i>
                    </span>
                    <span><%= __("common.cancel") %></span>
                </button>
            </div>
        </footer>
    </div>
    <script type="text/javascript">document.querySelector("a#deleteModal").addEventListener("click",function(event){event.preventDefault();const modal=document.querySelector(".deleteModal");const html=document.querySelector("html");modal.classList.add("is-active");html.classList.add("is-clipped");modal.querySelector(".modal-background").addEventListener("click",function(e){e.preventDefault();modal.classList.remove("is-active");html.classList.remove("is-clipped")});document.querySelector("button#close-modal").addEventListener("click",function(e){e.preventDefault();modal.classList.remove("is-active");html.classList.remove("is-clipped")})})</script>
</div>
<div class="modal setVanity">
    <div class="modal-background" id="vanityModalBg"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title has-text-danger"><%= __("page.bots.setVanity") %></p>
        </header>
        <form action="<%= linkPrefix %>/bots/<%= bot._id %>/setvanity" method="POST">
            <section class="modal-card-body has-text-danger">
                <%= __("page.bots.setVanity.warning") %>
                <div>
                    <br />
                    <div class="field">
                        <p class="control has-icons-left has-icons-right">
                            <input class="input is-rounded" type="text" name="vanity" placeholder="<%= __("page.bots.setVanity.placeholder", bot.name.toLowerCase().replace(/ .*/,'').replace(/([\u2700-\u27BF]|[\uE000-\uF8FF]|\uD83C[\uDC00-\uDFFF]|\uD83D[\uDC00-\uDFFF]|[\u2011-\u26FF]|\uD83E[\uDD10-\uDDFF])/g, '')) %>" required>
                            <span class="icon is-small is-left">
                                <i aria-hidden="true" class="fas fa-link"></i>
                            </span>
                        </p>
                    </div>
                </div>
            </section>
            <footer class="modal-card-foot">
                <div class="buttons">
                    <button class="button is-success">
                        <span class="icon">
                            <i aria-hidden="true" class="fas fa-check-circle"></i>
                        </span>
                        <span><%= __("common.set") %></span>
                    </button>
                    <button class="button is-danger" id="close-modal2">
                        <span class="icon">
                            <i aria-hidden="true" class="fas fa-times-circle"></i>
                        </span>
                        <span><%= __("common.cancel") %></span>
                    </button>
                </div>
            </footer>
        </form>
    </div>
    <script type="text/javascript">document.querySelector("a#setVanity").addEventListener("click",function(event){event.preventDefault();const modal=document.querySelector(".setVanity");const html=document.querySelector("html");modal.classList.add("is-active");html.classList.add("is-clipped");modal.querySelector(".modal-background").addEventListener("click",function(e){e.preventDefault();modal.classList.remove("is-active");html.classList.remove("is-clipped")});document.querySelector("button#close-modal2").addEventListener("click",function(e){e.preventDefault();modal.classList.remove("is-active");html.classList.remove("is-clipped")})})</script>
</div>

<% if (req.user && bot.owner.id === req.user.id || req.user && req.user.db.rank.mod === true) { %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" integrity="sha384-OHBBOqpYHNsIqQy8hL1U+8OXf9hH6QRxi0+EODezv82DfnZoV7qoHAZDwMwEJvSw" crossorigin="anonymous">
    <script type="text/javascript" src="/js/bulma-toast.min.js" async></script>
    <%
        const defaultColour = req.user.db.preferences.defaultColour || "#b114ff";
        const foreground = req.user.db.preferences.defaultForegroundColour || "#ffffff";
    %>
    <style type="text/css">.notification.is-default.animated{color:<%= foreground %>;background-color:<%= defaultColour %>;border-radius:3%}</style>
    <script type="text/javascript">function copyToClipboard(t){const hideWB=document.createElement("style");hideWB.innerHTML="widgetbot-crate {display: none;}";document.body.appendChild(hideWB);const e=document.createElement("textarea");e.value=t,e.setAttribute("readonly",""),e.style={position:"absolute",left:"-9999px"},document.body.appendChild(e),e.select(),document.execCommand("copy"),document.body.removeChild(e),bulmaToast.toast({message:"Copied to clipboard",type:"is-default",position:"bottom-right",duration:2e3,opacity:.75,animate:{in:"fadeInRight",out:"fadeOutRight"}});setTimeout(()=>{hideWB.innerHTML="widgetbot-crate {display: block;}"},3000)}</script>
    <script type="text/javascript">const dropdowns=document.querySelectorAll(".dropdown:not(.is-hoverable)");function closeDropdowns(){dropdowns.forEach(function(o){o.classList.remove("is-active")})}dropdowns.length>0&&(dropdowns.forEach(function(o){o.addEventListener("click",function(n){n.stopPropagation(),o.classList.toggle("is-active")})}),document.addEventListener("click",function(o){closeDropdowns()})),document.addEventListener("keydown",function(o){let n=o||window.event;"Esc"!==n.key&&"Escape"!==n.key||closeDropdowns()});</script>
<% } %>
<% if (bot.widgetbot.channel !== "" && bot.widgetbot.channel !== "") { %>
    <% if (bot.widgetbot.options !== "") { %>
        <script src="https://cdn.jsdelivr.net/npm/@widgetbot/crate@3" async defer>const additionalOptions = JSON.parse(<%- JSON.stringify(bot.widgetbot.options) %>);const crate = new Crate({server:"<%= bot.widgetbot.server %>",channel:"<%= bot.widgetbot.channel %>",shard:"https://e.widgetbot.io",...additionalOptions});</script>
    <% } else { %>
        <script src="https://cdn.jsdelivr.net/npm/@widgetbot/crate@3" async defer>const crate = new Crate({server:"<%= bot.widgetbot.server %>",channel:"<%= bot.widgetbot.channel %>",shard:"https://e.widgetbot.io"});</script>
    <% } %>
<% } %>
<%- include("../../partials/footer.ejs") %>
