<%- include("./partials/header.ejs") %>
<%- include("./partials/nav.ejs") %>
<section class="hero is-black">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">
                <span class="icon is-medium iconalign">
                    <% if (type === "Error") { %>
                        <i class="fad fa-exclamation-square has-text-danger fa-1x"></i>
                    <% } else if (type === "Success") { %>
                        <i class="fad fa-check-square has-text-success fa-1x"></i>
                    <% } else if (type === "Information") { %>
                        <i class="fad fa-info-square has-text-info fa-1x"></i>
                    <% } else { %>
                        <i class="fad fa-question-square has-text-magenta fa-1x"></i>
                    <% } %>
                </span>
                <br />
                <span><%= title %> (<%= status %>)</span>
            </h1>
            <h2 class="subtitle"><%= subtitle %></h2>
        </div>
    </div>
    </section>
    <div class="container">
        <div class="section">
            snake soon:tm:
        </div>    
<%- include("./partials/footer.ejs") %>