<%- include("../../partials/header.ejs") %>
<%- include("../../partials/nav.ejs") %>
<section class="hero is-black">
    <div class="hero-body">
        <br />
        <div class="container has-text-centered">
            <h1 class="title">
                <span class="icon is-medium iconalign">
                    <i aria-hidden="true" class="fad fa-user-secret has-text-default fa-1x"></i>
                </span>
                <br />
                <span><%= title %></span>
            </h1>
            <h2 class="subtitle"><%= subtitle %></h2>
        </div>
    </div>
    </section>
    <div class="container">
        <div class="section">
          <%- privacy %>
        </div>
    </div>
    <style>
      h1 {
        font-size:2rem;
        font-weight: bolder;
      }
      h2 {
        font-size:1.5rem;
        font-weight: bold;
      }
      p, ol, ul {
          padding-block-end: 15px;
      }
      ol, ul {
          padding-left: 35px;
      }
      ul {
          list-style: unset !important;
      }
    </style>
<%- include("../../partials/footer.ejs") %>