<%- include("../../../partials/header.ejs") %>
<link href="/css/theme/<%= preferredTheme %>/form.css?v=<%= cssVersion %>" type="text/css" media="screen, print" rel="stylesheet" /><link rel="stylesheet" data-name="vs/editor/editor.main" href="/packages/monaco-editor/min/vs/editor/editor.main.css">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous" async></script><% - include("../../../partials/nav.ejs") %>
<section class="hero is-black">
    <div class="hero-body">
        <br />
        <div class="container has-text-centered">
            <h1 class="title">
                <span class="icon is-medium iconalign">
                    <i aria-hidden="true" class="fad fa-minus has-text-default"></i>
                </span>
                <br />
                <span><%= title %></span>
            </h1>
            <h2 class="subtitle">
                <%= subtitle %>
            </h2>
        </div>
    </div>
</section>
<div class="container">
    <div class="section">
        <form method="POST">
            <div class="field">
                <label class="label has-text-blurple"><%= __("common.reason") %> <span class="has-text-danger">*</span></label>
                <p class="control has-icons-left has-icons-right">
                    <input class="input is-rounded" type="text" id="reason" name="reason" placeholder="<%= __("page.remove.bots.placeholder") %>">
                    <span class="icon is-small is-left">
                        <i aria-hidden="true" class="fas fa-comment-dots"></i>
                    </span>
                </p>
            </div>
            <br />
            <div class="field">
                <label class="label has-text-blurple"><%= __("page.remove.premadeReasons") %></label>
                <div class="buttons">
                    <button type="button" onclick="isClone();" class="button is-dark">
                        <span><%= __("page.remove.premadeReasons.clone") %></span>
                    </button>
                    <button type="button" onclick="fixRefusal();" class="button is-dark">
                        <span><%= __("page.remove.premadeReasons.fixRefusal") %></span>
                    </button>
                    <button type="button" onclick="fixNoResponse();" class="button is-dark">
                        <span><%= __("page.remove.premadeReasons.fixNoResponse") %></span>
                    </button>
                    <button type="button" onclick="errOnInvite();" class="button is-dark">
                        <span><%= __("page.remove.premadeReasons.errorWhilstInviting") %></span>
                    </button>
                    <button type="button" onclick="tokenLeak();" class="button is-dark">
                        <span><%= __("page.remove.premadeReasons.tokenLeak") %></span>
                    </button>
                    <button type="button" onclick="massDM();" class="button is-dark">
                        <span><%= __("page.remove.premadeReasons.massDM") %></span>
                    </button>
                    <button type="button" onclick="discordTosViolation();" class="button is-dark">
                        <span><%= __("page.remove.premadeReasons.discord.tos") %></span>
                    </button>
                    <button type="button" onclick="tosViolation();" class="button is-dark">
                        <span><%= __("page.remove.premadeReasons.del.tos") %></span>
                    </button>
                    <% if (req.user.db.rank.admin === true) { %>
                        <button type="button" onclick="shitBot();" class="button is-dark">
                            <span><%= __("page.remove.premadeReasons.shitBot") %></span>
                        </button>
                    <% } %> 
                </div>
            </div>
            <br />
            <div class="field is-grouped">
                <div class="buttons">
                    <button class="button is-success">
                        <span class="icon"><i aria-hidden="true" class="fas fa-check-circle"></i></span>
                        <span><%= __("common.submit") %></span>
                    </button>
                    <a class="button is-danger" href="<%= redirect %>">
                        <span class="icon"><i aria-hidden="true" class="fas fa-times-circle"></i></span>
                        <span><%= __("common.cancel") %></span>
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    function isClone() {
        document.getElementById("reason").value = "This bot is a clone of {BOT_NAME}, we don't accept clones!";
    }
    function fixRefusal() {
        document.getElementById("reason").value = "The bot owner has refused to fix any issues we have pointed out.";
    }
    function fixNoResponse() {
        document.getElementById("reason").value = "The bot owner hasn't responded to us for awhile.";
    }
    function errOnInvite() {
        document.getElementById("reason").value = "Bot is deleted or an UNKNOWN_ERROR when inviting.";
    }
    function tokenLeak() {
        document.getElementById("reason").value = "Security issues, please contact a Moderator privately.";
    }
    function massDM() {
        document.getElementById("reason").value = "Sending Mass DMs.";
    }
    function discordTosViolation() {
        document.getElementById("reason").value = "Violating Discord's Terms of Use.";
    }
    function tosViolation() {
        document.getElementById("reason").value = "Violating our Terms of Use.";
    }
    function shitBot() {
        document.getElementById("reason").value = "This bot is just actual shit.";
    }
</script>
<%- include("../../../partials/footer.ejs") %>