<% if (announcement.active === true) { %>
    <div <% if (announcement.colour === "preferred") { %>class="has-background-default has-text-centered" style="padding: 5px;"<% } else { %>style="background-color: <%= announcement.colour %>; color: <%= announcement.foreground %>; padding: 5px;" class="has-text-centered"<% } %>>
        <%- announcement.message %>
    </div>
<% } %>
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <% if (title !== "Home") { %>
            <a class="navbar-item" href="/" aria-hidden="true">
                <img style="width: auto !important; height: 48px !important;" alt="<% __("common.nav.logoAlt") %>" src="/img/logo-128px.<%= imageFormat %>" draggable="false">
            </a>
        <% } %>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbar">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbar" class="navbar-menu">
        <div class="navbar-start"> 

            <a class="navbar-item" href="<%= linkPrefix %>/">
                <span class="icon iconalign">
                    <i class="fad fa-house fa-swap-opacity" aria-hidden="true"></i>
                </span>
                <span><%= __("common.home") %></span>
            </a>

            <a class="navbar-item" href="<%= linkPrefix %>/bots">
                <span class="icon iconalign">
                    <i class="fad fa-robot" aria-hidden="true"></i>
                </span>
                <span><%= __("common.bots") %></span>
            </a>

            <a class="navbar-item" href="<%= linkPrefix %>/servers">
                <span class="icon iconalign">
                    <i class="fad fa-comments-alt fa-swap-opacity" aria-hidden="true"></i>
                </span>
                <span><%= __("common.servers") %></span>
            </a>

            <a class="navbar-item" href="<%= linkPrefix %>/templates">
                <span class="icon iconalign">
                    <i class="fad fa-clone" aria-hidden="true"></i>
                </span>
                <span><%= __("common.templates") %></span>
            </a>

            <a class="navbar-item" href="<%= linkPrefix %>/search">
                <span class="icon iconalign">
                    <i class="fas fa-search" aria-hidden="true"></i>
                </span>
                <span><%= __("common.search") %></span>
            </a>

            <a class="navbar-item" id="navWidgetBotXSupport" href="<%= linkPrefix %>/widgetbot">
                <span class="icon iconalign">
                    <i class="fad fa-comment-alt-lines" aria-hidden="true"></i>
                </span>
                <span><%= __("common.widgetbot") %></span>
            </a>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" tabindex="0">
                    <span class="icon iconalign">
                        <i class="fad fa-sitemap" aria-hidden="true"></i>
                    </span>
                    <span><%= __("common.nav.more") %></span>
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item" href="<%= discordServer %>" tabindex="0">
                        <span class="icon iconalign">
                            <i class="fab fa-discord" aria-hidden="true"></i>
                        </span>
                        <span><%= __("common.nav.more.discord") %></span>
                    </a>
                    <a class="navbar-item" href="https://docs.discordextremelist.xyz/" tabindex="0">
                        <span class="icon iconalign">
                            <i class="fad fa-books" aria-hidden="true"></i>
                        </span>
                        <span><%= __("common.nav.more.docs") %></span>
                    </a>
                    <a class="navbar-item" id="navAbout" href="<%= linkPrefix %>/about" tabindex="0">
                        <span class="icon iconalign">
                            <i class="fad fa-question" aria-hidden="true"></i>
                        </span>
                        <span><%= __("common.nav.more.about") %></span>
                    </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item" href="<%= linkPrefix %>/terms" tabindex="0">
                        <span class="icon iconalign">
                            <i class="fad fa-balance-scale" aria-hidden="true"></i>
                        </span>
                        <span><%= __("common.nav.more.terms") %></span>
                    </a>
                    <a class="navbar-item" href="<%= linkPrefix %>/privacy" tabindex="0">
                        <span class="icon iconalign">
                            <i class="fad fa-user-secret" aria-hidden="true"></i>
                        </span>
                        <span><%= __("common.nav.more.privacy") %></span>
                    </a>
                    <a class="navbar-item" href="<%= linkPrefix %>/cookies" tabindex="0">
                        <span class="icon iconalign">
                            <i class="fad fa-cookie" aria-hidden="true"></i>
                        </span>
                        <span><%= __("common.nav.more.cookies") %></span>
                    </a>
                    <a class="navbar-item" href="<%= linkPrefix %>/guidelines" tabindex="0">
                        <span class="icon iconalign">
                            <i class="fad fa-book" aria-hidden="true"></i>
                        </span>
                        <span><%= __("common.nav.more.guidelines") %></span>
                    </a>
                </div>
            </div>
        </div>

        <div class="navbar-end">
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" tabindex="0">
                    <span class="icon iconalign">
                        <i class="fad fa-language" aria-hidden="true"></i>
                    </span>
                    <span><%= __("common.nav.language") %></span>
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item" href="<%= req.originalUrl.replace(req.locale, "en-NZ") %>" tabindex="0">
                        <% if (req.locale === "en-NZ") { %>
                            <span title="Selected" class="icon has-text-success iconalign">
                                <i class="fad fa-check-circle" aria-hidden="true"></i>
                            </span>
                        <% } %>
                        <span><%= __("common.nav.language.en-NZ") %> (English NZ)</span>
                    </a>
                    <a class="navbar-item" href="<%= req.originalUrl.replace(req.locale, "en-GB") %>" tabindex="0">
                        <% if (req.locale === "en-GB") { %>
                            <span title="Selected" class="icon has-text-success iconalign">
                                <i class="fad fa-check-circle" aria-hidden="true"></i>
                            </span>
                        <% } %>
                        <span><%= __("common.nav.language.en-UK") %> (English UK)</span>
                    </a>
                    <a class="navbar-item" href="<%= req.originalUrl.replace(req.locale, "en-US") %>" tabindex="0">
                        <% if (req.locale === "en-US") { %>
                            <span title="Selected" class="icon has-text-success iconalign">
                                <i class="fad fa-check-circle" aria-hidden="true"></i>
                            </span>
                        <% } %>
                        <span><%= __("common.nav.language.en-US") %> (English US)</span>
                    </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item" href="<%= req.originalUrl.replace(req.locale, "de-DE") %>" tabindex="0">
                        <% if (req.locale === "de-DE") { %>
                            <span title="Selected" class="icon has-text-success iconalign">
                                <i class="fad fa-check-circle" aria-hidden="true"></i>
                            </span>
                        <% } %>
                        <span><%= __("common.nav.language.de") %> (Deutsch)</span>
                    </a>
                    <a class="navbar-item" href="<%= req.originalUrl.replace(req.locale, "he-IL") %>" tabindex="0">
                        <% if (req.locale === "he-IL") { %>
                            <span title="Selected" class="icon has-text-success iconalign">
                                <i class="fad fa-check-circle" aria-hidden="true"></i>
                            </span>
                        <% } %>
                        <span><%= __("common.nav.language.he") %> (עִבְרִית)</span>
                    </a>
                    <a class="navbar-item" tabindex="0">
                        <% if (req.locale === "hu-HU") { %>
                            <span title="Selected" href="<%= req.originalUrl.replace(req.locale, "hu-HU") %>" class="icon has-text-success iconalign">
                                <i class="fad fa-check-circle" aria-hidden="true"></i>
                            </span>
                        <% } %>
                        <span><%= __("common.nav.language.hu") %> (magyar nyelv)</span>
                    </a>
                    <a class="navbar-item" href="<%= req.originalUrl.replace(req.locale, "it-IT") %>" tabindex="0">
                        <% if (req.locale === "it-IT") { %>
                            <span title="Selected" class="icon has-text-success iconalign">
                                <i class="fad fa-check-circle" aria-hidden="true"></i>
                            </span>
                        <% } %>
                        <span><%= __("common.nav.language.it") %> (italiano)</span>
                    </a>
                    <a class="navbar-item" href="<%= req.originalUrl.replace(req.locale, "es-ES") %>" tabindex="0">
                        <% if (req.locale === "es-ES") { %>
                            <span title="Selected" class="icon has-text-success iconalign">
                                <i class="fad fa-check-circle" aria-hidden="true"></i>
                            </span>
                        <% } %>
                        <span><%= __("common.nav.language.es-ES") %> (español)</span>
                    </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item" target="_blank" rel="noopener" href="https://translate.discordextremelist.xyz/" tabindex="0">
                        <span>
                            <%= __("common.nav.language.helpUs") %>
                        </span>
                    </a>
                </div>
            </div>

            <% if (req.user) { %>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link" tabindex="0">
                        <img style="margin-right: 6px; border-radius: 50%; vertical-align: middle;" src="<%= req.user.db.avatar.url %>.<%= imageFormat %>?size=256" alt="<%= req.user.db.fullUsername %>'s Discord Profile Picture" onerror=<%= "this.onerror=null,this.src=&quot;/img/defaultavatar." + imageFormat + "&quot;" %> type="image/<%= imageFormat %>" draggable="false">
                        <span style="vertical-align: middle;">&nbsp; <%= req.user.db.fullUsername %> </span>
                    </a>

                    <div class="navbar-dropdown is-right">
                        <a class="navbar-item" href="<%= linkPrefix %>/users/@me" tabindex="0">
                            <span class="icon iconalign">
                                <i class="fad fa-user fa-swap-opacity" aria-hidden="true"></i>
                            </span>
                            <span><%= __("common.nav.me.profile") %></span>
                        </a>
                        <a class="navbar-item" href="<%= linkPrefix %>/users/account/preferences" tabindex="0">
                            <span class="icon iconalign">
                                <i class="fad fa-swatchbook" aria-hidden="true"></i>
                            </span>
                            <span><%= __("common.nav.me.preferences") %></span>
                        </a>
                        <% if (req.user.db.rank.mod === true) { %>
                            <a class="navbar-item" href="<%= linkPrefix %>/staff" tabindex="0">
                                <span class="icon iconalign">
                                    <i class="fad fa-cogs" aria-hidden="true"></i>
                                </span>
                                <span><%= __("common.nav.me.staffPanel") %></span>
                            </a>
                        <% } %>
                        <a class="navbar-item" href="<%= linkPrefix %>/bots/submit" tabindex="0">
                            <span class="icon iconalign">
                                <i class="fad fa-robot" aria-hidden="true"></i>
                            </span>
                            <span><%= __("common.nav.me.submitBot") %></span>
                        </a>
                        <a class="navbar-item" href="<%= linkPrefix %>/servers/submit" tabindex="0">
                            <span class="icon iconalign">
                                <i class="fad fa-comments-alt fa-swap-opacity" aria-hidden="true"></i>
                            </span>
                            <span><%= __("common.nav.me.submitServer") %></span>
                        </a>
                        <a class="navbar-item" id="navTemplate" href="<%= linkPrefix %>/templates/submit" tabindex="0">
                            <span class="icon iconalign">
                                <i class="fad fa-clone" aria-hidden="true"></i>
                            </span>
                            <span><%= __("common.nav.me.submitTemplate") %></span>
                        </a>
                        <% if (req.user.db.preferences.enableGames === true) { %>
                            <hr class="navbar-divider">
                            <a class="navbar-item" id="navSnake" href="<%= linkPrefix %>/users/game/snake" tabindex="0">
                                <span class="icon iconalign">
                                    <i class="fad fa-snake" aria-hidden="true"></i>
                                </span>
                                <span><%= __("common.nav.me.playSnake") %></span>
                            </a>
                        <% } %>
                        <% if (mobile) { %>
                            <% if (ddosMode === true) { %>
                                <a class="navbar-item has-text-danger" title="<%= __("common.notice.ddosMode") %>" disabled tabindex="0">
                                    <span class="icon">
                                        <i class="fad fa-sign-out" aria-hidden="true"></i>
                                    </span>
                                    <span><%= __("common.logout") %></span>
                                </a>
                            <% } else { %>
                                <a class="navbar-item has-text-danger" href="/auth/logout" tabindex="0">
                                    <span class="icon">
                                        <i class="fad fa-sign-out" aria-hidden="true"></i>
                                    </span>
                                    <span><%= __("common.logout") %></span>
                                </a>
                            <% } %>
                        <% } %>
                    </div>
                </div>
            <% } %>
            <div class="navbar-item" id="authButtons">
                <% if (!mobile) { %>
                    <div class="buttons">
                        <% if (req.user) { %>
                            <% if (ddosMode === true) { %>
                                <a class="button is-danger" title="<%= __("common.notice.ddosMode") %>" disabled>
                                    <span class="icon">
                                        <i class="fad fa-sign-out" aria-hidden="true"></i>
                                    </span>
                                    <span><%= __("common.logout") %></span>
                                </a>
                            <% } else { %>
                                <a class="button is-danger" href="/auth/logout">
                                    <span class="icon">
                                        <i class="fad fa-sign-out" aria-hidden="true"></i>
                                    </span>
                                    <span><%= __("common.logout") %></span>
                                </a>
                            <% } %>
                        <% } else { %>
                            <% if (ddosMode === true) { %>
                                <a class="button is-blurple" title="<%= __("common.notice.ddosMode") %>" disabled>
                                    <span class="icon">
                                        <i class="fab fa-discord" aria-hidden="true"></i>
                                    </span>
                                    <span><%= __("common.login") %></span>
                                </a>
                            <% } else { %>
                                <a class="button is-blurple" href="/auth/login">
                                    <span class="icon">
                                        <i class="fab fa-discord" aria-hidden="true"></i>
                                    </span>
                                    <span><%= __("common.login") %></span>
                                </a>
                            <% } %>
                        <% } %>
                    </div>
                <% } else if (!req.user) { %>
                    <% if (ddosMode === true) { %>
                        <a class="has-text-blurple" title="<%= __("common.notice.ddosMode") %>" disabled>
                            <span class="icon">
                                <i class="fab fa-discord" aria-hidden="true"></i>
                            </span>
                            <span><%= __("common.login") %></span>
                        </a>
                    <% } else { %>
                        <a class="has-text-blurple" href="/auth/login">
                            <span class="icon">
                                <i class="fab fa-discord" aria-hidden="true"></i>
                            </span>
                            <span><%= __("common.login") %></span>
                        </a>
                    <% } %>
                <% } %>
            </div>
        </div>
    </div>
</nav>
<div id="siteContent">
