<% if (announcement.active === true) { %>
    <div <% if (announcement.colour === "preferred") { %>class="has-background-default has-text-centered" style="padding: 5px;"<% } else { %>style="background-color: <%= announcement.colour %>; color: <%= announcement.foreground %>; padding: 5px;" class="has-text-centered"<% } %>>
        <%- announcement.message %>
    </div>
<% } %>
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <% if (title !== "Home") { %>
            <a class="navbar-item" href="/">
                <img style="width: auto !important; height: 48px !important;" alt="<% __("common.nav.logoAlt") %>" src="/img/logo-128px.<%= imageFormat %>" draggable="false">
            </a>
        <% } %>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbar">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbar" class="navbar-menu">
        <div class="navbar-start"> 

            <a class="navbar-item" href="<%= linkPrefix %>/">
                <span class="icon iconalign">
                    <i class="fad fa-house fa-swap-opacity" aria-hidden="true"></i>
                </span>
                <span><%= __("common.home") %></span>
            </a>

            <a class="navbar-item" href="<%= linkPrefix %>/bots">
                <span class="icon iconalign">
                    <i class="fad fa-robot" aria-hidden="true"></i>
                </span>
                <span><%= __("common.bots") %></span>
            </a>

            <a class="navbar-item" href="<%= linkPrefix %>/servers">
                <span class="icon iconalign">
                    <i class="fad fa-comments-alt fa-swap-opacity" aria-hidden="true"></i>
                </span>
                <span><%= __("common.servers") %></span>
            </a>

            <a class="navbar-item" href="<%= linkPrefix %>/templates">
                <span class="icon iconalign">
                    <i class="fad fa-clone" aria-hidden="true"></i>
                </span>
                <span><%= __("common.templates") %></span>
            </a>

            <a class="navbar-item" href="<%= linkPrefix %>/search">
                <span class="icon iconalign">
                    <i class="fas fa-search" aria-hidden="true"></i>
                </span>
                <span><%= __("common.search") %></span>
            </a>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    <span class="icon iconalign">
                        <i class="fad fa-sitemap" aria-hidden="true"></i>
                    </span>
                    <span><%= __("common.nav.more") %></span>
                </a>

                <div class="navbar-dropdown is-hidden-mobile">
                    <a class="navbar-item" href="<%= discordServer %>">
                        <span class="icon iconalign">
                            <i class="fab fa-discord" aria-hidden="true"></i>
                        </span>
                        <span><%= __("common.nav.more.discord") %></span>
                    </a>
                    <a class="navbar-item" href="https://docs.discordextremelist.xyz/">
                        <span class="icon iconalign">
                            <i class="fad fa-books" aria-hidden="true"></i>
                        </span>
                        <span><%= __("common.nav.more.discord") %></span>
                    </a>
                    <a class="navbar-item" href="<%= linkPrefix %>/about">
                        <span class="icon iconalign">
                            <i class="fad fa-question" aria-hidden="true"></i>
                        </span>
                        <span><%= __("common.nav.more.about") %></span>
                    </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item" href="<%= linkPrefix %>/terms">
                        <span class="icon iconalign">
                            <i class="fad fa-balance-scale" aria-hidden="true"></i>
                        </span>
                        <span><%= __("common.nav.more.terms") %></span>
                    </a>
                    <a class="navbar-item" href="<%= linkPrefix %>/privacy">
                        <span class="icon iconalign">
                            <i class="fad fa-user-secret" aria-hidden="true"></i>
                        </span>
                        <span><%= __("common.nav.more.privacy") %></span>
                    </a>

                    <a class="navbar-item" href="<%= linkPrefix %>/cookies" tabindex="0">
                        <span class="icon iconalign">
                            <i class="fad fa-cookie" aria-hidden="true"></i>
                        </span>
                        <span><%= __("common.nav.more.cookies") %></span>
                    </a>
                    <a class="navbar-item" href="<%= linkPrefix %>/guidelines">
                        <span class="icon iconalign">
                            <i class="fad fa-book" aria-hidden="true"></i>
                        </span>
                        <span><%= __("common.nav.more.guidelines") %></span>
                    </a>
                </div>
            </div>
        </div>

        <div class="navbar-end">
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    <span class="icon iconalign">
                        <i class="fad fa-cogs" aria-hidden="true"></i>
                    </span>
                    <span><%= __("common.nav.me.staffPanel") %></span>
                </a>

                <div class="navbar-dropdown is-hidden-mobile">
                    <a class="navbar-item" href="<%= linkPrefix %>/staff">
                        <span class="icon iconalign">
                            <i class="fad fa-house" aria-hidden="true"></i>
                        </span>
                        <% if (mobile) { %>
                            <span><%= __("common.nav.me.staffPanel.home.mobile") %></span>
                        <% } else { %>
                            <span><%= __("common.nav.me.staffPanel.home.desktop") %></span>
                        <% } %>
                    </a>
                    <a class="navbar-item" href="<%= linkPrefix %>/staff/announce">
                        <span class="icon iconalign">
                            <i class="fad fa-megaphone" aria-hidden="true"></i>
                        </span>
                        <span><%= __("page.staff.announcer") %></span>
                    </a>
                </div>
            </div>

            <% if (req.user) { %>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        <img style="margin-right: 6px; border-radius: 50%; vertical-align: middle;" src="<%= req.user.db.avatar.url %>.<%= imageFormat %>?size=256" alt="<%= req.user.db.fullUsername %>'s Discord Profile Picture" onerror=<%= "this.onerror=null,this.src=&quot;/img/defaultavatar." + imageFormat + "&quot;" %> type="image/<%= imageFormat %>" draggable="false">
                        <span style="vertical-align: middle;">&nbsp; <%= req.user.db.fullUsername %> </span>
                    </a>

                    <div class="navbar-dropdown is-hidden-mobile is-right">
                        <a class="navbar-item" href="<%= linkPrefix %>/users/@me">
                            <span class="icon iconalign">
                                <i class="fad fa-user fa-swap-opacity" aria-hidden="true"></i>
                            </span>
                            <span><%= __("common.nav.me.profile") %></span>
                        </a>
                        <a class="navbar-item" href=">%= linkPrefix %>/users/account/preferences">
                            <span class="icon iconalign">
                                <i class="fad fa-swatchbook" aria-hidden="true"></i>
                            </span>
                            <span><%= __("common.nav.me.preferences") %></span>
                        </a>
                        <a class="navbar-item" href="<%= linkPrefix %>/bots/submit">
                            <span class="icon iconalign">
                                <i class="fad fa-robot" aria-hidden="true"></i>
                            </span>
                            <span><%= __("common.nav.me.submitBot") %></span>
                        </a>
                        <a class="navbar-item" href="<%= linkPrefix %>/servers/submit">
                            <span class="icon iconalign">
                                <i class="fad fa-comments-alt fa-swap-opacity" aria-hidden="true"></i>
                            </span>
                            <span><%= __("common.nav.me.submitServer") %></span>
                        </a>
                        <a class="navbar-item" href="<%= linkPrefix %>/templates/submit" tabindex="0">
                            <span class="icon iconalign">
                                <i class="fad fa-clone" aria-hidden="true"></i>
                            </span>
                            <span><%= __("common.nav.me.submitTemplate") %></span>
                        </a>
                        <% if (req.user.db.preferences.enableGames === true) { %>
                            <hr class="navbar-divider">
                            <a class="navbar-item" href="<%= linkPrefix %>/users/game/snake">
                                <span class="icon iconalign">
                                    <i class="fad fa-snake" aria-hidden="true"></i>
                                </span>
                                <span><%= __("common.nav.me.playSnake") %></span>
                            </a>
                        <% } %>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
</nav>