<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <% if (title !== "Home") { %>
            <a class="navbar-item" href="/">
                <img style="width: auto !important; height: 48px !important;" alt="<% __("Discord Extreme List's Logo") %>" src="/img/logo-128px.<%= imageFormat %>">
            </a>
        <% } %>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbar">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbar" class="navbar-menu">
        <div class="navbar-start"> 

            <a class="navbar-item" href="/">
                <span class="icon iconalign">
                    <i class="fad fa-house" aria-hidden="true"></i>
                </span>
                <span><%= __("Home") %></span>
            </a>

            <a class="navbar-item" href="/bots">
                <span class="icon iconalign">
                    <i class="fad fa-robot" aria-hidden="true"></i>
                </span>
                <span><%= __("Bots") %></span>
            </a>

            <a class="navbar-item" href="/servers">
                <span class="icon iconalign">
                    <i class="fad fa-comments-alt" aria-hidden="true"></i>
                </span>
                <span><%= __("Servers") %></span>
            </a>

            <a class="navbar-item" href="/search">
                <span class="icon iconalign">
                    <i class="fad fa-search" aria-hidden="true"></i>
                </span>
                <span><%= __("Search") %></span>
            </a>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    <span class="icon iconalign">
                        <i class="fad fa-sitemap" aria-hidden="true"></i>
                    </span>
                    <span><%= __("More") %></span>
                </a>

                <div class="navbar-dropdown is-hidden-mobile">
                    <a class="navbar-item" href="<%= discordServer %>">
                        <span class="icon iconalign">
                            <i class="fab fa-discord" aria-hidden="true"></i>
                        </span>
                        <span><%= __("Discord Server") %></span>
                    </a>
                    <a class="navbar-item" href="https://docs.discordextremelist.xyz/">
                        <span class="icon iconalign">
                            <i class="fad fa-books" aria-hidden="true"></i>
                        </span>
                        <span><%= __("Documentation") %></span>
                    </a>
                    <a class="navbar-item" href="/about">
                        <span class="icon iconalign">
                            <i class="fad fa-question" aria-hidden="true"></i>
                        </span>
                        <span><%= __("About") %></span>
                    </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item" href="/terms">
                        <span class="icon iconalign">
                            <i class="fad fa-balance-scale" aria-hidden="true"></i>
                        </span>
                        <span><%= __("Terms of Service") %></span>
                    </a>
                    <a class="navbar-item" href="/privacy">
                        <span class="icon iconalign">
                            <i class="fad fa-user-secret" aria-hidden="true"></i>
                        </span>
                        <span><%= __("Privacy Policy") %></span>
                    </a>
                    <a class="navbar-item" href="/guidelines">
                        <span class="icon iconalign">
                            <i class="fad fa-book" aria-hidden="true"></i>
                        </span>
                        <span><%= __("Website Guidelines") %></span>
                    </a>
                </div>
            </div>
        </div>

        <div class="navbar-end">
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    <span class="icon iconalign">
                        <i class="fad fa-cogs" aria-hidden="true"></i>
                    </span>
                    <span><%= __("Staff Panel") %></span>
                </a>

                <div class="navbar-dropdown is-hidden-mobile">
                    <a class="navbar-item" href="/staff">
                        <span class="icon iconalign">
                            <i class="fad fa-house" aria-hidden="true"></i>
                        </span>
                        <% if (mobile) { %>
                            <span><%= __("(Staff) Home") %></span>
                        <% } else { %>
                            <span><%= __("Home") %></span>
                        <% } %>
                    </a>
                </div>
            </div>

            <% if (req.user) { %>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        <img style="margin-right: 6px; border-radius: 50%; vertical-align: middle;" src="<%= req.user.db.avatar.url %>.<%= imageFormat %>?size=256" alt="<%= req.user.db.fullUsername %>'s Discord Profile Picture" onerror=<%= "this.onerror=null,this.src=&quot;/img/defaultavatar." + imageFormat + "&quot;" %> type="image/<%= imageFormat %>">
                        <span style="vertical-align: middle;">&nbsp; <%= req.user.db.fullUsername %> </span>
                    </a>

                    <div class="navbar-dropdown is-hidden-mobile is-right">
                        <a class="navbar-item" href="/users/@me">
                            <span class="icon iconalign">
                                <i class="fad fa-user" aria-hidden="true"></i>
                            </span>
                            <span><%= __("Profile") %></span>
                        </a>
                        <a class="navbar-item" href="/users/account/preferences">
                            <span class="icon iconalign">
                                <i class="fad fa-swatchbook" aria-hidden="true"></i>
                            </span>
                            <span><%= __("Preferences") %></span>
                        </a>
                        <a class="navbar-item" href="/bots/submit">
                            <span class="icon iconalign">
                                <i class="fad fa-robot" aria-hidden="true"></i>
                            </span>
                            <span><%= __("Submit Bot") %></span>
                        </a>
                        <a class="navbar-item" href="/servers/submit">
                            <span class="icon iconalign">
                                <i class="fad fa-comments-alt" aria-hidden="true"></i>
                            </span>
                            <span><%= __("Submit Server") %></span>
                        </a>
                        <% if (req.user.db.preferences.enableGames === true) { %>
                            <hr class="navbar-divider">
                            <a class="navbar-item" href="/users/game/snake">
                                <span class="icon iconalign">
                                    <i class="fad fa-snake" aria-hidden="true"></i>
                                </span>
                                <span><%= __("Play Snake") %></span>
                            </a>
                        <% } %>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
</nav>