<% if (template.verificationLevel === 0) { %>
    <p><strong><%= __("partials.verificationLevel") %></strong> <span title="<%= __("partials.verificationLevel.0.title") %>"> <%= __("partials.verificationLevel.0.name") %></span></p>
<% } else if (template.verificationLevel === 1) { %>
    <p><strong><%= __("partials.verificationLevel") %></strong> <span title="<%= __("partials.verificationLevel.1.title") %>"> <%= __("partials.verificationLevel.1.name") %></span></p>
<% } else if (template.verificationLevel === 2) { %>
    <p><strong><%= __("partials.verificationLevel") %></strong> <span title="<%= __("partials.verificationLevel.2.title") %>"> <%= __("partials.verificationLevel.2.name") %></span></p>
<% } else if (template.verificationLevel === 3) { %>
    <p><strong><%= __("partials.verificationLevel") %></strong> <span title="<%= __("partials.verificationLevel.3.title") %>"> <%= __("partials.verificationLevel.3.name") %></span></p>
<% } else if (template.verificationLevel === 4) { %>
    <p><strong><%= __("partials.verificationLevel") %></strong> <span title="<%= __("partials.verificationLevel.4.title") %>"> <%= __("partials.verificationLevel.4.name") %></span></p>
<% } %>