<%- include("../partials/header.ejs") %>
<%- include("../partials/nav.ejs") %>
<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": 1,
                "name": "Home",
                "item": "https://discordextremelist.xyz/"
            },
            {
                "@type": "ListItem",
                "position": 2,
                "name": "DEL Discord Server",
                "item": "https://discordextremelist.xyz/widgetbot"
            }
        ]
    }
</script>
<%
    let defaultColour = "#b114ff";
    let foreground = "#ffffff";

    if (req.user) {
        defaultColour = req.user.db.preferences.defaultColour || "#b114ff"
        foreground = req.user.db.preferences.defaultForegroundColour || "#ffffff"
    }
%>
<style type="text/css">
    .button.is-default {
    background-color: <%= defaultColour %>;
    border-color: transparent;
    color: <%= foreground %>;
}
.button.is-default.is-hovered,
.button.is-default:hover {
    background-color: <%= colour(`${defaultColour}`).darken(0.1); %>;
    border-color: transparent;
    color: <%= foreground %>;
}
.button.is-default.is-focused,
.button.is-default:focus {
    border-color: transparent;
    color: <%= foreground %>;
}
.button.is-default.is-focused:not(:active),
.button.is-default:focus:not(:active) {
    box-shadow: 0 0 0 0.125em rgba(<%= colour(`${defaultColour}`).rgb %>,.25);
}
.button.is-default.is-active,
.button.is-default:active {
    background-color: <%= colour(`${defaultColour}`).darken(0.1); %>;
    border-color: transparent;
    color: <%= foreground %>;
}
.button.is-default[disabled],
fieldset[disabled] .button.is-default {
    background-color: <%= defaultColour %>;
    border-color: transparent;
    box-shadow: none;
}
.button.is-default.is-inverted {
    background-color: <%= foreground %>;
    color: <%= defaultColour %>;
}
.button.is-default.is-inverted.is-hovered,
.button.is-default.is-inverted:hover {
    background-color: #f2f2f2;
}
.button.is-default.is-inverted[disabled],
fieldset[disabled] .button.is-default.is-inverted {
    background-color: <%= foreground %>;
    border-color: transparent;
    box-shadow: none;
    color: <%= defaultColour %>;
}
.button.is-default.is-loading::after {
    border-color: transparent transparent <%= foreground %> <%= foreground %>!important;
}
.button.is-default.is-outlined {
    background-color: transparent;
    border-color: <%= defaultColour %>;
    color: <%= defaultColour %>;
}
.button.is-default.is-outlined.is-focused,
.button.is-default.is-outlined.is-hovered,
.button.is-default.is-outlined:focus,
.button.is-default.is-outlined:hover {
    background-color: <%= defaultColour %>;
    border-color: <%= defaultColour %>;
    color: <%= foreground %>;
}
.button.is-default.is-outlined.is-loading::after {
    border-color: transparent transparent <%= defaultColour %> <%= defaultColour %>!important;
}
.button.is-default.is-outlined.is-loading.is-focused::after,
.button.is-default.is-outlined.is-loading.is-hovered::after,
.button.is-default.is-outlined.is-loading:focus::after,
.button.is-default.is-outlined.is-loading:hover::after {
    border-color: transparent transparent <%= foreground %> <%= foreground %>!important;
}
.button.is-default.is-outlined[disabled],
fieldset[disabled] .button.is-default.is-outlined {
    background-color: transparent;
    border-color: <%= defaultColour %>;
    box-shadow: none;
    color: <%= defaultColour %>;
}
.button.is-default.is-inverted.is-outlined {
    background-color: transparent;
    border-color: <%= foreground %>;
    color: <%= foreground %>;
}
.button.is-default.is-inverted.is-outlined.is-focused,
.button.is-default.is-inverted.is-outlined.is-hovered,
.button.is-default.is-inverted.is-outlined:focus,
.button.is-default.is-inverted.is-outlined:hover {
    background-color: <%= foreground %>;
    color: <%= defaultColour %>;
}
.button.is-default.is-inverted.is-outlined.is-loading.is-focused::after,
.button.is-default.is-inverted.is-outlined.is-loading.is-hovered::after,
.button.is-default.is-inverted.is-outlined.is-loading:focus::after,
.button.is-default.is-inverted.is-outlined.is-loading:hover::after {
    border-color: transparent transparent <%= defaultColour %> <%= defaultColour %>!important;
}
.button.is-default.is-inverted.is-outlined[disabled],
fieldset[disabled] .button.is-default.is-inverted.is-outlined {
    background-color: transparent;
    border-color: <%= foreground %>;
    box-shadow: none;
    color: <%= foreground %>;
}
</style>

<section class="hero is-black">
    <div class="hero-body">
        <br />
        <div class="container has-text-centered">
            <h1 class="title">
                <span class="icon is-medium iconalign">
                    <i aria-hidden="true" class="fab fa-discord has-text-default fa-1x"></i>
                </span>
                <br />
                <span><%= title %></span>
            </h1>
            <h2 class="subtitle"><%= subtitle %></h2>
            <div class="buttons page is-centered">
                <%- 
                    include("../partials/button.ejs", { 
                        className: "button is-default", 
                        icon: "fas fa-user-plus", 
                        tag: "a", 
                        message: __("common.discord.direct"), 
                        href: discordServer, 
                        additional: "target=\"_blank\" rel=\"noopener\""
                    });
                %>
                <%- 
                    include("../partials/button.ejs", { 
                        className: "button is-default", 
                        icon: "fas fa-info-circle", 
                        tag: "a", 
                        message: __("common.widgetbot.del"), 
                        href: `${linkPrefix}/bots/543225764036870167`, 
                        additional: "target=\"_blank\" rel=\"noopener\""
                    });
                %>
            </div>
        </div>
    </div>
    </section>
    <div class="container">
        <div class="section">
            <widgetbot server="<%= settings.guild.main %>" channel="<%= settings.channels.default %>" width="100%" height="600" shard="https://e.widgetbot.io"></widgetbot>
            <script src="https://cdn.jsdelivr.net/npm/@widgetbot/html-embed"></script>
        </div>
    </div>
<%- include("../partials/footer.ejs") %>