<div id="reference" style="display: none;">
    <table>
        <tr>
            <th><%= __("docs.reference.apiVersion") %></th>
            <th><%= __("docs.reference.status") %></th> 
            <th><%= __("docs.reference.default") %></th>
        </tr>
        <tr>
            <td><%= __("docs.reference.v2") %></td>
            <td><%= __("docs.reference.available") %></td>
            <td>
                <span class="icon">
                    <i aria-hidden="true" class="fas fa-check has-text-success"></i>
                </span>
            </td>
        </tr>
        <tr>
            <td><%= __("docs.reference.v1Revised") %></td>
            <td><%= __("docs.reference.deprecated") %></td>
            <td>
                <span class="icon">
                    <i aria-hidden="true" class="fas fa-times has-text-danger"></i>
                </span>
            </td>
        </tr>
        <tr>
            <td><%= __("docs.reference.v1") %></td>
            <td><%= __("docs.reference.discontinued") %></td>
            <td>
                <span class="icon">
                    <i aria-hidden="true" class="fas fa-times has-text-danger"></i>
                </span>
            </td>
        </tr>
    </table>
</div>