<%- include("../../partials/header.ejs") %>

<%- include("../../partials/isDefaultCSS/button.ejs") %>
<%- include("../../partials/staffNav.ejs") %>
<section class="hero is-primary">
    <div class="hero-body">
        <div class="container has-text-centered">
            <br />
            <h1 class="title">
                <span class="icon is-medium iconalign">
                    <i aria-hidden="true" class="fad fa-list-ul has-text-default fa-1x"></i>
                </span>
                <br />
                <span><%= title %></span>
            </h1>
            <h2 class="subtitle"><%= subtitle %></h2>
        </div>
    </div>
</section>
<div class="container">
    <div class="section">
        <div class="columns is-multiline is-centered">
            <% if (bots.length <= 0) { %>
                <h2 class="is-size-3"><%= __("page.staff.queue.empty") %></h2>
            <% } else { %>
                <%- bots.map(bot => include("../../partials/cards/botCard.ejs", { bot, search: false, queue: true, inviteQueue: false, archived: false, verificationApp: false, profile: false })).join("") %>
            <% } %>
        </div>
    </div>
</div>
<%- include("../../partials/footer.ejs") %>