<%- include("../../partials/header.ejs") %>
<%- include("../../partials/nav.ejs") %>
<%- include("../../partials/isDefaultCSS/button.ejs") %>
<section class="hero is-primary">
    <div class="hero-body">
        <br />
        <div class="container has-text-centered">
            <h1 class="title">
                <span class="icon is-medium iconalign">
                    <i aria-hidden="true" class="fad fa-database has-text-default fa-1x"></i>
                </span>
                <br />
                <span><%= title %></span>
            </h1>
            <h2 class="subtitle"><%= subtitle %></h2>
            <div class="buttons is-centered">
                <a href="<%= linkPrefix %>/privacy/" class="button is-default">
                    <span class="icon">
                        <i class="fas fa-user-secret"></i>
                    </span>
                    <span><%= __("common.nav.more.privacy") %></span>
                </a>
            </div>
        </div>
    </div>
    </section>
    <div class="container">
        <div class="section">
            <h3 class="is-size-3 has-text-warning"><%= __("page.account.data.download") %></h2>
            <p><%= __("page.account.data.download.details.0") %></p>
            <div class="content" style="padding-top: 1em;">
                <ul>
                    <li><%= __("page.account.data.download.details.1") %></li>
                    <li><%= __("page.account.data.download.details.2") %></li>
                    <li><%= __("page.account.data.download.details.3") %></li>
                </ul>
            </div>
            <div class="buttons">
                <% if (dataRequestTimeout) { %>
                    <a class="button is-dark" disabled>
                        <span class="icon">
                            <i class="fas fa-ban"></i>
                        </span>
                        <span><%= __("page.account.data.download.button.disabled") %>
                    </a>
                <% } else { %>
                    <a id="dataRequest" onclick="dataRequest();" class="button is-warning">
                        <span class="icon">
                            <i class="fas fa-download"></i>
                        </span>
                        <span><%= __("page.account.data.download") %></span>
                    </a>
                <% } %>
            </div>
            <br />
            <h3 class="is-size-3 has-text-danger"><%= __("page.account.data.delete") %></h2>
            <p><%= __("page.account.data.delete.details") %></p>
            <br />
            <div class="buttons">
                <button onclick="showDeleteModal()" class="button is-danger">
                    <span class="icon">
                        <i class="fas fa-shredder"></i>
                    </span>
                    <span><%= __("page.account.data.delete") %></span>
                </button>
            </div>
        </div>
    </div>
    <div class="modal" id="deleteModal">
        <div class="modal-background" style="backdrop-filter: blur(8px);
        background-color: rgba(255, 0, 0, 0.111) !important;"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title has-text-danger">
                    <span class="icon">
                        <i class="fad fa-warning"></i>
                    </span>
                    <%= __("page.account.data.delete.confirm.title") %>
                </p>
                <button class="delete" aria-label="close" onclick="closeDeleteModal()"></button>
            </header>
            <section class="modal-card-body">
                <div class="content">
                    <p class="has-text-danger">
                        <%= __("page.account.data.delete.confirm.warning") %>
                    </p>
                    <form method="POST" action="<%= linkPrefix %>/users/account/data/delete">
                        <div class="field">
                            <label class="label"><%= __("page.account.data.delete.confirm.type") %></label>
                            <div class="control">
                                <input name="typedUsername" id="typedUsername" onpaste="return false;" ondrop="return false;" autocomplete="off" class="input" type="text" 
                                       required
                                       placeholder="<%= __("page.account.data.delete.confirm.timeout") %>"
                                       pattern="<%= req.user.db.fullUsername %>"
                                       disabled>
                                <p class="help"><%= __("page.account.data.delete.confirm.type.help") %></p>
                            </div>
                        </div>
                        
                        <div class="field">
                            <div class="control">
                                <button type="submit" id="submitButton" class="button is-danger" disabled>
                                    <span class="icon">
                                        <i class="fas fa-shredder"></i>
                                    </span>
                                    <span><%= __("page.account.data.delete.confirm.button") %></span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>
    <script>
    function showDeleteModal() {
        document.getElementById('deleteModal').classList.add('is-active');
        
        setTimeout(() => {
            submitButton.removeAttribute("disabled");
            typedUsername.removeAttribute("disabled");
            typedUsername.placeholder = "<%= req.user.db.fullUsername %>"
        }, 5000);
    }
    
    function closeDeleteModal() {
        document.getElementById('deleteModal').classList.remove('is-active');
    }
    
    document.querySelector('.modal-background').addEventListener('click', closeDeleteModal);
    </script>
    <script>
        async function dataRequest() {
            const button = document.getElementById("dataRequest");

            if (button.getAttribute("disabled") != 'true') {
                window.open("<%= linkPrefix %>/users/account/data/request", "_blank");

                button.classList.add("is-dark");
                button.classList.remove("is-warning");
                button.setAttribute("disabled", true);

                button.innerHTML = 
                    `<span class="icon">

                        <i class="fas fa-ban"></i>
                    </span>
                    <span><%= __("page.account.data.download.button.disabled") %></span>`
            }
        }
    </script>
<%- include("../../partials/footer.ejs") %>