<%- include("../partials/header.ejs") %>
<%- include("../partials/nav.ejs") %>
<section class="hero is-black">
    <div class="hero-body">
        <br />
        <div class="container has-text-centered">
            <img class="backdrop" draggable=false alt="DEL Logo" style="padding: 5px;" src="/img/logo-128px.<%= imageFormat %>" type="image/<%= imageFormat %>" draggable="false">
            <h1 class="title">
                Discord Extreme List
            </h1>
            <h2 class="subtitle">
                <%= __("Discord's unbiased list, giving bots and servers of all sizes a big chance!") %>
            </h2>
        </div>
    </div>
</section>
<div class="container">
    <div class="section">
        <% if (botsData.length === 0) { %>
            <h2 class="is-size-3">An error occurred whilst fetching bots.</h2>
        <% } else { %>
            <h2 class="is-size-3 has-text-centered has-text-blurple">
                <span class="icon is-medium iconalign">
                    <i class="fad fa-robot fa-1x"></i>
                </span>
                <span>Random Bots</span>
            </h2>
            <br />
            <div class="columns is-multiline is-centered">
                <%- botChunk.map(chunk => `${chunk.map(bot => include("../partials/cards/botCard.ejs", { bot, search: false, queue: false, archived: false, verificationApp: false })).join("")}`).join("") %>
            </div>
        <% } %>
    </div>
    <div class="section">
        <% if (botsData.length === 0) { %>
            <h2 class="is-size-3">An error occurred whilst fetching servers.</h2>
        <% } else { %>
            <h2 class="is-size-3 has-text-centered has-text-blurple">
                <span class="icon is-medium iconalign">
                    <i class="fad fa-comments-alt fa-1x"></i>
                </span>
                <span>Random Servers</span>
            </h2>
            <br />
            <div class="columns is-multiline is-centered">
                <%- serverChunk.map(chunk => `${chunk.map(server => include("../partials/cards/serverCard.ejs", { server, search: false })).join("")}`).join("") %>
            </div>
        <% } %>
    </div>
</div>    
<%- include("../partials/footer.ejs") %>