<%- include("../../partials/header.ejs") %>
<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": 1,
                "name": "Home",
                "item": "https://discordextremelist.xyz/"
            },
            {
                "@type": "ListItem",
                "position": 2,
                "name": "Servers",
                "item": "https://discordextremelist.xyz/servers"
            }
        ]
    }
</script>
<%- include("../../partials/nav.ejs") %>
<% 
    let defaultColour = "#b114ff";
    let foreground = "#ffffff";

    if (req.user) {
        defaultColour = req.user.db.preferences.defaultColour || "#b114ff"
        foreground = req.user.db.preferences.defaultForegroundColour || "#ffffff"
    }
%>
<style type="text/css">.pagination-link.is-current{background-color:<%= defaultColour %>;border-color:transparent;color:<%= foreground %>}.pagination-link:hover,.pagination-next:hover,.pagination-previous:hover{background-color:<%= defaultColour %>;border-color:transparent;color:<%= foreground %>}</style>
<style type="text/css">.button.is-default.is-outlined{background-color:transparent;border-color:<%= defaultColour %>;color:<%= defaultColour %>}.button.is-default.is-outlined:hover,.button.is-default.is-outlined.is-hovered,.button.is-default.is-outlined:focus,.button.is-default.is-outlined.is-focused{background-color:<%= defaultColour %>;border-color:<%= defaultColour %>;color:<%= foreground %>}.button.is-default.is-outlined.is-loading::after{border-color:transparent transparent <%= defaultColour %> <%= defaultColour %>!important}.button.is-default.is-outlined.is-loading:hover::after,.button.is-default.is-outlined.is-loading.is-hovered::after,.button.is-default.is-outlined.is-loading:focus::after,.button.is-default.is-outlined.is-loading.is-focused::after{border-color:transparent transparent <%= foreground %> <%= foreground %>!important}.button.is-default.is-outlined[disabled],fieldset[disabled] .button.is-default.is-outlined{background-color:transparent;border-color:<%= defaultColour %>;box-shadow:none;color:<%= defaultColour %>}.button.is-default.is-inverted.is-outlined{background-color:transparent;border-color:<%= foreground %>;color:<%= foreground %>}.button.is-default.is-inverted.is-outlined:hover,.button.is-default.is-inverted.is-outlined.is-hovered,.button.is-default.is-inverted.is-outlined:focus,.button.is-default.is-inverted.is-outlined.is-focused{background-color:<%= foreground %>;color:<%= defaultColour %>}.button.is-default.is-inverted.is-outlined.is-loading:hover::after,.button.is-default.is-inverted.is-outlined.is-loading.is-hovered::after,.button.is-default.is-inverted.is-outlined.is-loading:focus::after,.button.is-default.is-inverted.is-outlined.is-loading.is-focused::after{border-color:transparent transparent <%= defaultColour %> <%= defaultColour %>!important}.button.is-default.is-inverted.is-outlined[disabled],fieldset[disabled] .button.is-default.is-inverted.is-outlined{background-color:transparent;border-color:<%= foreground %>;box-shadow:none;color:<%= foreground %>}</style>
<style type="text/css">.pagination-link[disabled],.pagination-next[disabled],.pagination-previous[disabled]{background-color:<%= siteThemeColourDarker %>;border-color:<%= siteThemeColour %>;box-shadow:none;color:#7a7a7a;opacity:0.5}.pagination-link[disabled]:hover,.pagination-next[disabled]:hover,.pagination-previous[disabled]:hover{background-color:<%= siteThemeColourDarker %>;border-color:<%= siteThemeColour %>;box-shadow:none;color:#7a7a7a;opacity:0.5}</style>
<section class="hero is-primary">
    <div class="hero-body">
        <div class="container has-text-centered">
            <br />
            <h1 class="title">
                <span class="icon is-medium iconalign">
                    <i aria-hidden="true" class="fad fa-comments-alt fa-swap-opacity has-text-default fa-1x"></i>
                </span>
                <br />
                <span><%= title %></span>
            </h1>
            <h2 class="subtitle"><%= subtitle %></h2>
        </div>
    </div>
</section>
<div class="container is-fluid">
    <div class="section is-fluid">
        <nav class="pagination is-centered" role="navigation" aria-label="pagination">
            <a class="pagination-previous" <% if (Number(req.query.page) <= 1) { %>disabled<% } else { %>href="/servers?page=<%= Number(req.query.page) - 1 %>"<% } %>><%= __("common.pagination.previous") %></a>
            <a class="pagination-next" <% if (Number(req.query.page) >= pages) { %>disabled<% } else { %>href="/servers?page=<%= Number(req.query.page) + 1 %>"<% } %>><%= __("common.pagination.next") %></a>
            <ul class="pagination-list">
                <% if (Number(req.query.page) <= 3) { %>
                    <li>
                        <% if (Number(req.query.page) === 1) { %>
                            <a class="pagination-link is-current" aria-label="<%= __("common.pagination.page", "1") %>" aria-current="page">1</a>
                        <% } else { %> 
                            <a class="pagination-link" href="/servers?page=1" aria-label="<%= __("common.pagination.gotoPage", "1") %>">1</a>
                        <% } %>
                    </li>
                    <% if (2 <= pages) { %>
                        <% if (Number(req.query.page) === 2) { %>
                            <a class="pagination-link is-current" aria-label="<%= __("common.pagination.page", "2") %>" aria-current="page">2</a>
                        <% } else { %> 
                            <a class="pagination-link" href="/servers?page=2" aria-label="<%= __("common.pagination.gotoPage", "2") %>">2</a>
                        <% } %>
                    <% } %>
                    <% if (3 <= pages) { %>
                        <li>
                            <% if (Number(req.query.page) === 3) { %>
                                <a class="pagination-link is-current" aria-label="<%= __("common.pagination.page", "3") %>" aria-current="page">3</a>
                            <% } else { %> 
                                <a class="pagination-link" href="/servers?page=3" aria-label="<%= __("common.pagination.gotoPage", "3") %>">3</a>
                            <% } %>
                        </li>
                    <% } %>
                    <% if (pages > 3) { %>
                        <li>
                            <span class="pagination-ellipsis">&hellip;</span>
                        </li>
                        <li>
                            <a class="pagination-link" href="/servers?page=<%= pages %>" aria-label="<%= __("common.pagination.gotoPage", pages) %>"><%= pages %></a>
                        </li>
                    <% } %>
                <% } else { %>
                    <li>
                        <a class="pagination-link" href="/servers?page=1" aria-label="<%= __("common.pagination.gotoPage", "1") %>">1</a>
                    </li>
                    <li>
                        <span class="pagination-ellipsis">&hellip;</span>
                    </li>
                    <% if (Number(req.query.page) === pages) { %>
                        <li>
                            <a class="pagination-link" href="/servers?page=<%= Number(req.query.page) - 2 %>" aria-label="<%= __("common.pagination.gotoPage", Number(req.query.page) - 2) %>"><%= Number(req.query.page) - 2 %></a>
                        </li>
                    <% } %>
                    <li>
                        <a class="pagination-link" href="/servers?page=<%= Number(req.query.page) - 1 %>" aria-label="<%= __("common.pagination.gotoPage", Number(req.query.page) - 1) %>"><%= Number(req.query.page) - 1 %></a>
                    </li>
                    <li>
                        <a class="pagination-link is-current" aria-label="<%= __("common.pagination.page", req.query.page) %>" aria-current="page"><%= req.query.page %></a>
                    </li>
                    <% if (Number(req.query.page) !== pages) { %>
                        <li>
                            <a class="pagination-link" href="/servers?page=<%= Number(req.query.page) + 1 %>" aria-label="<%= __("common.pagination.gotoPage", Number(req.query.page) + 1) %>"><%= Number(req.query.page) + 1 %></a>
                        </li>
                    <% } %>
                    <% if (Number(req.query.page <= (pages - 2))) { %>
                        <li>
                            <span class="pagination-ellipsis">&hellip;</span>
                        </li>
                        <li>
                            <a class="pagination-link" href="/servers?page=<%= pages %>" aria-label="<%= __("common.pagination.gotoPage", pages) %>"><%= pages %></a>
                        </li>
                    <% } %>
                <% } %>
            </ul>
        </nav>
        <br />
        <div class="columns is-multiline is-centered">
            <% if (servers.length === 0) { %>
                <h2 class="is-size-3"><%= __("common.error.fetchFail.servers") %></h2>
            <% } else { %>
                <% if (serversPgArr.length === 0) { %>
                    <h2 class="is-size-3"><%= __("common.error.fetchFail.servers") %></h2>
                <% } else { %>
                    <%- serversPgArr.map(server => include("../../partials/cards/serverCard.ejs", { server, search: false, profile: false })).join("") %>
                <% } %> 
            <% } %>
        </div>

    </div>
</div>
<%- include("../../partials/footer.ejs") %>