<%- include("../../partials/header.ejs") %>
<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": 1,
                "name": "Home",
                "item": "<%= baseURL %><%= linkPrefix %>"
            },
            {
                "@type": "ListItem",
                "position": 2,
                "name": "Templates",
                "item": "<%= baseURL %><%= linkPrefix %>/templates"
            }
        ]
    }
</script>
<%- include("../../partials/nav.ejs") %>

<%- include("../../partials/isDefaultCSS/button.ejs") %>
<section class="hero is-primary">
    <div class="hero-body">
        <div class="container has-text-centered">
            <br />
            <h1 class="title">
                <span class="icon is-medium iconalign">
                    <i aria-hidden="true" class="fad fa-clone has-text-default fa-1x"></i>
                </span>
                <br />
                <span><%= title %></span>
            </h1>
            <h2 class="subtitle"><%= subtitle %></h2>
            <div class="buttons is-centered">
                <a href="<%= linkPrefix %>/search/" class="button is-default">
                    <span class="icon">
                        <i class="fas fa-search"></i>
                    </span>
                    <span><%= __("common.search") %></span>
                </a>
                <a href="<%= linkPrefix %>/templates/submit" class="button is-default">
                    <span class="icon">
                        <i class="fas fa-plus"></i>
                    </span>
                    <span><%= __("common.nav.me.submitTemplate") %></span>
                </a>
            </div>
        </div>
    </div>
</section>
<div class="container is-fluid">
    <div class="section is-fluid">
        <%- include("../../partials/pagination.ejs", { linkLocation: "templates" }) %>
        <br />
        <div class="columns is-multiline is-centered">
            <% if (!templates || templates.length === 0) { %>
                <h2 class="is-size-3"><%= __("common.error.fetchFail.templates") %></h2>
            <% } else { %>
                <% if (!templatesPgArr || templatesPgArr.length === 0) { %>
                    <h2 class="is-size-3"><%= __("common.error.fetchFail.templates") %></h2>
                <% } else { %>
                    <%- templatesPgArr.map(template => include("../../partials/cards/templateCard.ejs", { template, search: false, profile: false })).join("") %>
                <% } %>
            <% } %>
        </div>
        <br />
        <%- include("../../partials/pagination.ejs", { linkLocation: "templates" }) %>
    </div>
</div>
<%- include("../../partials/footer.ejs") %>