<div class="column is-one-third" is-bot-card>
    <div class="box has-background-primary" style="overflow: hidden; height: 100%;">
        <article class="media">
            <div class="media-left">
                <figure class="image is-64x64">
                    <img class="is-rounded lazyload" data-src="<%= bot.avatar.url %>.<%= imageFormat %>" alt="<%= __("%s's Avatar", bot.name) %>" onerror="this.onerror = null;this.src = '/img/defaultavatar.<%= imageFormat %>';console.log('<%= __("Failed to load bot %s avatar/icon, using default instead.", bot.id) %>');">
                </figure>
            </div>
            <div style="overflow: hidden;" class="media-content">
                <div class="content">
                    <p>
                    <span class="is-size-4 title has-text-blurple is-mobile">
                        <span><%= bot.name %></span>
                        <% if (bot.status.verified === true) { %>
                            <span style="vertical-align: middle;" title="<%= __("Verified Bot") %>" class="icon is-medium iconalign">
                                <i aria-hidden="true" class="fad fa-badge-check has-text-magenta fa-1x"></i>
                            </span>
                        <% } %>
                        <% if (bot.status.siteBot === true) { %>
                            <span style="vertical-align: middle;" title="<%= __("Site Bot - This bot is one of our official site bots and has been added for internal reasons.. It will not show up in search results, the homepage or the bot list page.") %>" class="icon is-medium iconalign">
                                <i aria-hidden="true" class="fad fa-cogs has-text-grey-lighter fa-1x"></i>
                            </span>
                        <% } %>
                    </span>
                        <br />
                        <%= bot.shortDesc.length >= 64 ? bot.shortDesc.slice(0, 64)+'\u2026' : bot.shortDesc %>
                    </p>
                </div>
                <div class="content-footer">
                    <div class="buttons">
                    <% if (bot.status.archived === true) { %>
                        <a href="/bots/<%= bot.id %>/resubmit" class="button is-blurple">
                            <span class="icon">
                              <i class="fas fa-redo-alt"></i>
                            </span>
                            <span><%= __("Resubmit") %></span>
                        </a>
                    <% } else if (verificationApp === true) { %>
                        <a href="/staff/apps/verification/<%= bot.id %>" class="button is-blurple">
                            <span class="icon">
                              <i class="fas fa-eye"></i>
                            </span>
                            <span><%= __("View Application") %></span>
                        </a>
                    <% } else if (search === true) { %>
                        <a href="/bots/<%= bot.id %>" class="button is-blurple is-outlined">
                            <span class="icon">
                              <i class="fas fa-robot"></i>
                            </span>
                            <span><%= __("View Bot") %></span>
                        </a>
                    <% } else { %>
                        <a href="/bots/<%= bot.id %>" class="button is-blurple is-outlined">
                            <span class="icon">
                              <i class="fas fa-eye"></i>
                            </span>
                            <span><%= __("View") %></span>
                        </a>
                        <a href="/bots/<%= bot.id %>/invite" class="button is-blurple is-outlined">
                            <span class="icon">
                              <i class="fas fa-plus"></i>
                            </span>
                            <span><%= __("Invite") %></span>
                        </a>
                    <% } %>
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>
