<div class="column is-one-third" is-server-card>
    <div class="box has-background-primary" style="overflow: hidden; height: 100%;">
        <article class="media">
            <div class="media-left">
                <figure class="image is-64x64">
                    <img class="is-rounded lazyload" data-src="<%= server.icon.url %>.<%= imageFormat %>" alt="<%= __("%s's Icon", server.name) %>" onerror="this.onerror = null;this.src = '/img/defaultavatar.<%= imageFormat %>';console.log('<%= __("Failed to load server %s avatar/icon, using default instead.", server._id) %>');" draggable="false">
                </figure>
            </div>
            <div style="overflow: hidden;" class="media-content">
                <div class="content">
                    <p>
                    <span class="is-size-4 title has-text-blurple is-mobile">
                        <span><%= server.name %></span>
                    </span>
                        <br />
                        <%= server.shortDesc.length >= 64 ? server.shortDesc.slice(0, 64)+'\u2026' : server.shortDesc %>
                    </p>
                </div>
                <div class="content-footer">
                    <div class="buttons">
                        <% if (search === true) { %>
                            <a href="/servers/<%= server._id %>" class="button is-blurple is-outlined">
                                <span class="icon">
                                  <i class="fas fa-comments-alt"></i>
                                </span>
                                <span><%= __("View Server") %></span>
                            </a>
                        <% } else { %>
                            <a href="/servers/<%= server._id %>" class="button is-blurple is-outlined">
                                <span class="icon">
                                <i class="fas fa-eye"></i>
                                </span>
                                <span><%= __("View") %></span>
                            </a>
                        <% } %>
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>
