<article class="message is-danger">
    <div class="message-body content has-background-primary">
        <ul style="margin-top: unset;">
            <li><strong><%= __("page.staff.manager.punish.executor") %></strong> <%= strike.executorName %></li>
            <li><strong><%= __("page.staff.manager.punish.reason") %></strong> <%= strike.reason %></li>
            <li><strong><%= __("page.staff.manager.punish.date") %></strong> <%= functions.parseDate(strike.date) %></li>
        </ul>
    </div>
</article>