<div class="column is-one-third" is-server-card>
    <div class="box has-background-primary" style="overflow: hidden; height: 100%;">
        <article class="media">
            <div class="media-left">
                <figure class="image is-64x64">
                    <img class="is-rounded lazyload" data-src="<%= template.icon.url %>.<%= imageFormat %>" alt="<%= __("common.img.icon", template.name) %>" onerror="this.onerror = null;this.src = '/img/defaultavatar.<%= imageFormat %>';console.log('<%= __("common.img.loadFail", template._id) %>');" draggable="false">
                </figure>
            </div>
            <div style="overflow: hidden;" class="media-content">
                <div class="content">
                    <p>
                    <span class="is-size-4 title has-text-blurple is-mobile">
                        <span><%= template.name %></span>
                    </span>
                        <br />
                        <%= template.shortDesc.length >= 64 ? template.shortDesc.slice(0, 64)+'\u2026' : template.shortDesc %>
                    </p>
                </div>
                <div class="content-footer">
                    <div class="buttons">
                        <% if (search === true) { %>
                            <a href="/templates/<%= template._id %>" class="button is-blurple is-outlined">
                                <span class="icon">
                                  <i class="fas fa-copy"></i>
                                </span>
                                <span><%= __("common.view.template") %></span>
                            </a>
                        <% } else { %>
                            <a href="/templates/<%= template._id %>" class="button is-blurple is-outlined">
                                <span class="icon">
                                <i class="fas fa-eye"></i>
                                </span>
                                <span><%= __("common.view") %></span>
                            </a>
                        <% } %>
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>
