<div class="column is-half" is-user-card>
    <div class="box has-background-primary" style="overflow: hidden; height: 100%;">
        <article class="media">
            <div class="media-left">
                <figure class="image is-64x64">
                    <img class="is-rounded lazyload" data-src="<%= user.avatar.url %>.<%= imageFormat %>" alt="<%= __("common.img.avatar", user.fullUsername) %>" onerror="this.onerror = null;this.src = '/img/defaultavatar.<%= imageFormat %>';console.log('<%= __("common.img.loadFail", user._id) %>');" draggable="false">
                </figure>
            </div>
            <div style="overflow: hidden;" class="media-content">
                <div class="content">
                    <p>
                    <span class="is-size-4 title has-text-blurple is-mobile">
                        <span><%= user.fullUsername %></span>
                    </span>
                        <br />
                        <%- include("../staffStanding.ejs") %>
                        <%
                            if (!user.staffTracking.punishments) {
                                user.staffTracking.punishments = {
                                    warnings: 0,
                                    strikes: 0
                                }
                            }
                        %>
                        <br />
                        <strong><%= __("page.staff.manager.strikes") %></strong> <%= user.staffTracking.punishments.warnings.length %>   
                        <br />
                        <strong><%= __("page.staff.manager.warnings") %></strong> <%= user.staffTracking.punishments.warnings.length %>
                        <br />
                        <strong><%= __("page.staff.manager.onLeave") %></strong> <%= user.staffTracking.details.away.status ? __("page.staff.manager.onLeave.yes") : __("page.staff.manager.onLeave.no") %>
                    </p>
                </div>
                <div class="content-footer">
                    <div class="buttons">
                        <a href="<%= linkPrefix %>/staff/staff-manager/away/<%= user._id %>" class="button is-blurple is-outlined">
                            <span class="icon">
                                <i class="fas fa-lights-holiday"></i>
                            </span>
                            <span><%= __("page.staff.manager.setAway") %></span>
                        </a>
                        <div class="dropdown">
                            <div class="dropdown-trigger">
                              <button class="button is-blurple is-outlined" aria-haspopup="true" aria-controls="dropdown-ui-actions-<%= user._id %>">
                                <span class="icon">
                                    <i aria-hidden="true" class="fas fa-gavel" aria-hidden="true"></i>
                                </span>
                                <span><%= __("page.staff.manager.punish") %></span>
                                <span class="icon is-small">
                                  <i aria-hidden="true" class="fas fa-angle-down" aria-hidden="true"></i>
                                </span>
                              </button>
                            </div>
                            <div class="dropdown-menu" id="dropdown-ui-actions-<%= user._id %>" role="menu">
                                <div class="dropdown-content">
                                    <div class="dropdown-item">
                                        <p class="has-text-danger"><%= __("common.staffManagement.warning") %></p>
                                    </div>
                                    <hr class="dropdown-divider">
                                    <a href="<%= linkPrefix %>/staff/staff-manager/punish/warn/<%= user._id %>">
                                        <span class="icon">
                                            <i class="fas fa-exclamation-triangle"></i>
                                        </span>
                                        <span><%= __("page.staff.manager.warn") %></span>
                                    </a>
                                    <a href="<%= linkPrefix %>/staff/staff-manager/punish/strike/<%= user._id %>">
                                        <span class="icon">
                                            <i class="fas fa-ban"></i>
                                        </span>
                                        <span><%= __("page.staff.manager.strike") %></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>
