<%- include("../../partials/header.ejs") %>
<%- include("../../partials/staffNav.ejs") %>
<section class="hero is-primary">
    <div class="hero-body">
        <div class="container has-text-centered">
            <br />
            <h1 class="title">
                <span class="icon is-medium iconalign">
                    <i aria-hidden="true" class="fad fa-users-cog has-text-default fa-1x"></i>
                </span>
                <br />
                <span><%= title %></span>
            </h1>
            <h2 class="subtitle"><%= subtitle %></h2>
        </div>
    </div>
</section>
<div class="container">
    <div class="section">
        <h3 class="is-size-3"><%= __("common.rank.admin.short") %></h1>
        <br />
        <div class="columns is-multiline is-centered">
            <%- admin.map(user => include("../../partials/cards/userCardMgmt.ejs", { user })).join("") %>
        </div>
        <br />
        <h3 class="is-size-3"><%= __("common.rank.assistant.short") %></h1>
        <br />
        <div class="columns is-multiline is-centered">
            <%- assistant.map(user => include("../../partials/cards/userCardMgmt.ejs", { user })).join("") %>
        </div>
        <br />
        <h3 class="is-size-3"><%= __("common.rank.mod.short") %></h1>
        <br />
        <div class="columns is-multiline is-centered">
            <%- mod.map(user => include("../../partials/cards/userCardMgmt.ejs", { user })).join("") %>
        </div>
    </div>
</div>
<script type="text/javascript">const dropdowns=document.querySelectorAll(".dropdown:not(.is-hoverable)");function closeDropdowns(){dropdowns.forEach(function(o){o.classList.remove("is-active")})}dropdowns.length>0&&(dropdowns.forEach(function(o){o.addEventListener("click",function(n){n.stopPropagation(),o.classList.toggle("is-active")})}),document.addEventListener("click",function(o){closeDropdowns()})),document.addEventListener("keydown",function(o){let n=o||window.event;"Esc"!==n.key&&"Escape"!==n.key||closeDropdowns()});</script>
<%- include("../../partials/footer.ejs") %>