<%- include("../../partials/header.ejs") %>
<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": 1,
                "name": "Home",
                "item": "<%= baseURL %><%= linkPrefix %>"
            },
            {
                "@type": "ListItem",
                "position": 2,
                "name": "Bots",
                "item": "<%= baseURL %><%= linkPrefix %>/bots"
            }
        ]
    }
</script>
<%- include("../../partials/nav.ejs") %>

<%- include("../../partials/isDefaultCSS/button.ejs") %>
<section class="hero is-primary">
    <div class="hero-body">
        <div class="container has-text-centered">
            <br />
            <h1 class="title">
                <span class="icon is-medium iconalign">
                    <i aria-hidden="true" class="fad <%= icon %> fa-1x"></i>
                </span>
                <br />
                <span><%= title %></span>
            </h1>
            <h2 class="subtitle"><%- subtitle %></h2>
            <div class="buttons is-centered">
                <a href="<%= linkPrefix %>/search/" class="button is-default">
                    <span class="icon">
                        <i class="fas fa-search"></i>
                    </span>
                    <span><%= __("common.search") %></span>
                </a>
                <a href="<%= linkPrefix %>/bots/submit" class="button is-default">
                    <span class="icon">
                        <i class="fas fa-plus"></i>
                    </span>
                    <span><%= __("common.nav.me.submitBot") %></span>
                </a>
            </div>
            <div class="buttons is-centered">
                <a href="<%= linkPrefix %>/bots" class="button is-dark">
                    <span><%= __("common.all") %></span>
                </a>
                <a href="?tag=slashcommands" class="button is-blurple">
                    <span class="icon">
                        <i class="fas fa-slash fa-flip-horizontal"></i>
                    </span>
                    <span><%= __("common.applicationCommands") %></span>
                </a>
                <a href="?tag=fun" class="button is-link">
                    <span class="icon">
                        <i class="fas fa-grin-squint-tears"></i>
                    </span>
                    <span><%= __("page.bots.tag.fun") %></span>
                </a>
                <a href="?tag=social" class="button is-info">
                    <span class="icon">
                        <i class="fas fa-comments-alt"></i>
                    </span>
                    <span><%= __("page.bots.tag.social") %></span>
                </a>
                <a href="?tag=economy" class="button is-success">
                    <span class="icon">
                        <i class="fas fa-comments-dollar"></i>
                    </span>
                    <span><%= __("page.bots.tag.economy") %></span>
                </a>
                <a href="?tag=utility" class="button is-orange">
                    <span class="icon">
                        <i class="fas fa-cogs"></i>
                    </span>
                    <span><%= __("page.bots.tag.utility") %></span>
                </a>
                <a href="?tag=moderation" class="button is-danger">
                    <span class="icon">
                        <i class="fas fa-gavel"></i>
                    </span>
                    <span><%= __("page.bots.tag.moderation") %></span>
                </a>
                <a href="?tag=multipurpose" class="button is-magenta">
                    <span class="icon">
                        <i class="fas fa-ball-pile"></i>
                    </span>
                    <span><%= __("page.bots.tag.multipurpose") %></span>
                </a>
                <a href="?tag=music" class="button is-pink">
                    <span class="icon">
                        <i class="fas fa-comment-music"></i>
                    </span>
                    <span><%= __("common.tags.music") %></span>
                </a>
            </div>
        </div>
    </div>
</section>
<div class="container is-fluid">
    <div class="section is-fluid">
        <%- include("../../partials/pagination.ejs", { linkLocation: "bots" }) %>
        <br />
        <div class="columns is-multiline is-centered">
            <% if (!bots || bots.length === 0) { %>
                <h2 class="is-size-3"><%= __("common.error.fetchFail.bots") %></h2>
            <% } else { %>
                <% if (!botsPgArr || botsPgArr.length === 0) { %>
                    <h2 class="is-size-3"><%= __("common.error.fetchFail.bots") %></h2>
                <% } else { %>
                    <%- botsPgArr.map(bot => include("../../partials/cards/botCard.ejs", { bot, queue: false, inviteQueue: false, search: false, archived: false, verificationApp: false, profile: false })).join("") %>
                <% } %>
            <% } %>
        </div>
        <br />
        <%- include("../../partials/pagination.ejs", { linkLocation: "bots" }) %>
    </div>
</div>
<%- include("../../partials/footer.ejs") %>