<%- include("../../partials/header.ejs") %>
<%
    let defaultColour = "#b114ff";
    let foreground = "#ffffff";

    if (req.user) {
        defaultColour = req.user.db.preferences.defaultColour || "#b114ff"
        foreground = req.user.db.preferences.defaultForegroundColour || "#ffffff"
    }
%>
<link href="/css/form.css?v=<%= cssVersion %>" type="text/css" media="screen, print" rel="stylesheet" />
<link rel="stylesheet" data-name="vs/editor/editor.main" href="/packages/monaco-editor/min/vs/editor/editor.main.css">
<style type="text/css">.is-checkradio[type="checkbox"].is-default.has-background-color+label::before,.is-checkradio[type="checkbox"].is-default.has-background-color+label:before{border-color:transparent !important;background-color:<%= defaultColour %> !important}.is-checkradio[type="checkbox"].is-default:hover:not([disabled])+label::before,.is-checkradio[type="checkbox"].is-default:hover:not([disabled])+label:before{border-color:<%= defaultColour %> !important}.is-checkradio[type="checkbox"].is-default:checked+label::after,.is-checkradio[type="checkbox"].is-default:checked+label:after{border-color:<%= defaultColour %> !important}.is-checkradio[type="checkbox"].is-default:checked.has-background-color+label::before,.is-checkradio[type="checkbox"].is-default:checked.has-background-color+label:before{border-color:transparent !important;background-color:<%= defaultColour %> !important}.is-checkradio[type="checkbox"].is-default:checked.has-background-color+label::after,.is-checkradio[type="checkbox"].is-default:checked.has-background-color+label:after{border-color:<%= foreground %> !important;background-color:<%= defaultColour %> !important}.is-checkradio[type="checkbox"].is-default.is-block:hover:not([disabled])+label::after,.is-checkradio[type="checkbox"].is-default.is-block:hover:not([disabled])+label:after,.is-checkradio[type="checkbox"].is-default.is-block:hover:not([disabled])+label::before,.is-checkradio[type="checkbox"].is-default.is-block:hover:not([disabled])+label:before{border-color:<%= defaultColour %> !important}.is-checkradio[type="checkbox"].is-default.is-block:checked+label{color:<%= foreground %>;border-color:<%= defaultColour %> !important;background:<%= defaultColour %>}.is-checkradio[type="checkbox"].is-default.is-block:checked+label::after,.is-checkradio[type="checkbox"].is-default.is-block:checked+label:after{border-color:<%= foreground %> !important}.is-checkradio[type="checkbox"].is-default.is-block:checked:hover:not([disabled])+label{background:#5e78d5}.is-checkradio[type="checkbox"].is-default.is-block:checked:hover:not([disabled])+label::after,.is-checkradio[type="checkbox"].is-default.is-block:checked:hover:not([disabled])+label:after,.is-checkradio[type="checkbox"].is-default.is-block:checked:hover:not([disabled])+label::before,.is-checkradio[type="checkbox"].is-default.is-block:checked:hover:not([disabled])+label:before{border-color:#f2f2f2 !important}</style>
<%- include("../../partials/nav.ejs") %>
<section class="hero is-black">
    <div class="hero-body">
        <br />
        <div class="container has-text-centered">
            <h1 class="title">
                <span class="icon is-medium iconalign">
                    <i aria-hidden="true" class="fad fa-plus has-text-default"></i>
                </span>
                <br />
                <span><%= title %></span>
            </h1>
            <h2 class="subtitle">
                <%= subtitle %>
            </h2>
        </div>
    </div>
    </section>
    <div class="container">
        <div class="section">
            <form method="POST">
                <h3 class="is-size-3 has-text-blurple"><%= __("page.form.category.generalInfo") %></h3>
                <br />
                <div class="field">
                    <label class="label has-text-blurple"><%= __("Template Code") %> <span class="has-text-danger">*</span></label>
                    <div class="control">
                        <div class="field has-addons">
                            <p class="control" aria-hidden="true">
                                <a class="button is-rounded is-static">
                                    https://discord.new/
                                </a>
                            </p>
                            <p class="control" required>
                                <input class="input is-rounded" type="text" name="code" placeholder="aUe6qZZgnhGh">
                            </p>
                        </div>
                    </p>
                    <p style="padding: 5px;" class="is-size-7 has-text-default"><%= __("Do not include the https://discord.new/ part.") %></p>
                </div>
                <br />
                <label class="label has-text-blurple"><%= __("common.tags") %></label>
                <div class="columns">
                    <div class="column is-one-quarter">
                        <div class="field">
                            <input class="is-checkradio is-circle has-background-color is-default" type="checkbox" id="gaming" name="gaming">
                            <label class="has-text-default" for="gaming"><%= __("common.tags.gaming") %></label>
                        </div>
                        <div class="field">
                            <input class="is-checkradio is-circle has-background-color is-default" type="checkbox" id="music" name="music">
                            <label class="has-text-default" for="music"><%= __("common.tags.music") %></label>
                        </div>
                        <div class="field">
                            <input class="is-checkradio is-circle has-background-color is-default" type="checkbox" id="mediaEntertain" name="mediaEntertain">
                            <label class="has-text-default" for="mediaEntertain"><%= __("common.tags.mediaEntertainment") %></label>
                        </div>
                        <div class="field">
                            <input class="is-checkradio is-circle has-background-color is-default" type="checkbox" id="createArts" name="createArts">
                            <label class="has-text-default" for="createArts"><%= __("common.tags.creativeArts") %></label>
                        </div>
                        <div class="field">
                            <input class="is-checkradio is-circle has-background-color is-default" type="checkbox" id="sciTech" name="sciTech">
                            <label class="has-text-default" for="sciTech"><%= __("common.tags.scienceTech") %></label>
                        </div>
                        <div class="field">
                            <input class="is-checkradio is-circle has-background-color is-default" type="checkbox" id="edu" name="edu">
                            <label class="has-text-default" for="edu"><%= __("common.tags.education") %></label>
                        </div>
                        <div class="field">
                            <input class="is-checkradio is-circle has-background-color is-default" type="checkbox" id="fashBeaut" name="fashBeaut">
                            <label class="has-text-default" for="fashBeaut"><%= __("common.tags.fashionBeauty") %></label>
                        </div>
                    </div>
                    <div class="column is-one-quarter">
                        <div class="field">
                            <input class="is-checkradio is-circle has-background-color is-default" type="checkbox" id="relIdentity" name="relIdentity">
                            <label class="has-text-default" for="relIdentity"><%= __("common.tags.relationshipIdentity") %></label>
                        </div>
                        <div class="field">
                            <input class="is-checkradio is-circle has-background-color is-default" type="checkbox" id="travelCuis" name="travelCuis">
                            <label class="has-text-default" for="travelCuis"><%= __("common.tags.travelFood") %></label>
                        </div>
                        <div class="field">
                            <input class="is-checkradio is-circle has-background-color is-default" type="checkbox" id="fitHealth" name="fitHealth">
                            <label class="has-text-default" for="fitHealth"><%= __("common.tags.fitnessHealth") %></label>
                        </div>
                        <div class="field">
                            <input class="is-checkradio is-circle has-background-color is-default" type="checkbox" id="finance" name="finance">
                            <label class="has-text-default" for="finance"><%= __("common.tags.finance") %></label>
                        </div>
                    </div>
                    <div class="column is-one-quarter"></div>
                    <div class="column is-one-quarter"></div>
                </div>
                <br />
                <br />
                <h3 class="is-size-3 has-text-blurple"><%= __("page.form.category.descriptions") %></h3>
                <br />
                <div class="field">
                    <label class="label has-text-blurple"><%= __("Template Short Description") %> <span class="has-text-danger">*</span></label>
                    <p class="control has-icons-left has-icons-right">
                        <input class="input is-rounded" type="text" name="shortDescription" placeholder="<%= __("This is an amazing template kthx now use me") %>" required>
                        <span class="icon is-small is-left">
                            <i aria-hidden="true" class="fas fa-comment-dots"></i>
                        </span>
                    </p>
                </div>
                <br />
                <div class="field">
                    <label class="label has-text-blurple"><%= __("Template Long Description") %> (Basic HTML & Markdown) <span class="has-text-danger">*</span></label>
                    <div onkeyup="monacoToField();" id="longDescEditor" class="editorBackdrop" style="width:99%;height:350px;"></div>
                    <textarea hidden name="longDescription" id="longDesc" required></textarea>
                </div>
                <br />
                <div class="field is-grouped">
                    <div class="buttons">
                        <button onclick="monacoToField();" class="button is-success">
                            <span class="icon">
                              <i aria-hidden="true" class="fas fa-check-circle"></i>
                            </span>
                            <span><%= __("common.submit") %></span>
                        </button>
                        <a href="/" class="button is-danger">
                            <span class="icon">
                              <i aria-hidden="true" class="fas fa-times-circle"></i>
                            </span>
                            <span><%= __("common.cancel") %></span>
                        </a>
                    </div>
                </div>
            </form>    
        </div>
        <br />
        <script type="text/javascript">var require={paths:{"vs":"/packages/monaco-editor/min/vs"}};</script>
        <script src="/packages/monaco-editor/min/vs/loader.js"></script>
        <script src="/packages/monaco-editor/min/vs/editor/editor.main.nls.js"></script>
        <script src="/packages/monaco-editor/min/vs/editor/editor.main.js"></script>
        <script type="text/javascript">var longDescEditor=monaco.editor.create(document.getElementById("longDescEditor"),{language:"markdown"});function monacoToField(){var o=window.longDescEditor.getValue();$("#longDesc").val(o)}monaco.editor.setTheme("vs-dark");</script type="text/javascript">   
<%- include("../../partials/footer.ejs") %>