<!doctype HTML>
<html ⚡ lang="<%= req.language || "en" %>" dir="ltr">
<head>
    <meta charset="utf-8">

    <script async src="https://cdn.ampproject.org/v0.js"></script>

    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>


    <title><%= title || "Page" %> - Discord Extreme List</title>

    <link href="/img/logo.png" type="image/png" rel="shortcut-icon" />
    <link href="/img/logo.png" type="image/png" rel="icon" />
    <link href="/css/standard.css" type="text/css" media="screen, print" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap" type="text/css" media="screen" rel="preload" as="style"  onload="this.onload=null;this.rel='stylesheet'" />
    <link href="/fonts/fa/css/all.css" type="text/css" media="screen" rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'" />
    <link href="/css/flags.css" type="text/css" media="screen" rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'" />
    <style type="text/css">.has-text-default { color: <% if (req.user) { %><%= req.user.db.preferences.defaultColour || "#b114ff" %><% } else { %>#b114ff<% } %>; } </style>
    
    <noscript>
        <link href="https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap" media="screen" rel="stylesheet" />
        <link href="/fonts/fa/css/all.css" media="screen" rel="stylesheet" />     
        <link href="/css/flags.css" media="screen" rel="stylesheet" />     
    </noscript>

    <link rel="manifest" href="/manifest.json">

    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <meta name="keywords" content="Discord Extreme List, Discord Bots, Discord Bot List, Discord Bots List, Discord, BotBlock, Bots, Bot Listings, Bot Lists, Bot List, BotBlock Bots, BotBlock Bot Lists, Bots for Discord, Discord Robots">
    <meta name="robots" content="index,follow">
    <meta name="distribution" content="global">
    <meta name="rating" content="safe for kids">
    <meta name="revisit-after" content="1 day">

    <% if (pageType.bot == true) { %>
        <meta name="theme-color" content="#2C2F33">
        <meta name="description" content="<%= bot.shortDesc %>">

        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@ExtremeList">
        <meta name="twitter:title" content="<%= title || "Page" %> | Discord Extreme List">
        <meta name="twitter:description" content="<%= bot.shortDesc %>">
        <meta property="twitter:image" content="<%= bot.avatar.url %>.png">
        <meta property="twitter:image:alt" content="DEL's Logo">

        <meta property="og:type" content="website">
        <meta property="og:site_name" content="Discord Extreme List">
        <meta property="og:title" content="<%= title || "Page" %> | Discord Extreme List">
        <meta property="og:url" content="https://discordextremelist.xyz">
        <meta property="og:description" content="<%= bot.shortDesc %>">
        <meta property="og:image" content="<%= bot.avatar.url %>.png">
        <meta property="og:image:alt" content="DEL's Logo">
    <% } else if (pageType.server == true) { %>
        <meta name="theme-color" content="#2C2F33">
        <meta name="description" content="<%= server.shortDesc %>">

        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@ExtremeList">
        <meta name="twitter:title" content="<%= title || "Page" %> | Discord Extreme List">
        <meta name="twitter:description" content="<%= server.shortDesc %>">
        <meta property="twitter:image" content="<%= server.icon.url %>.png">
        <meta property="twitter:image:alt" content="DEL's Logo">

        <meta property="og:type" content="website">
        <meta property="og:site_name" content="Discord Extreme List">
        <meta property="og:title" content="<%= title || "Page" %> | Discord Extreme List">
        <meta property="og:url" content="https://discordextremelist.xyz">
        <meta property="og:description" content="<%= server.shortDesc %>">
        <meta property="og:image" content="<%= server.icon.url %>.png">
        <meta property="og:image:alt" content="DEL's Logo">
    <% } else { %>
        <meta name="theme-color" content="#2C2F33">
        <meta name="description" content="<%= subtitle || "Discord Extreme List, Discord's unbiased list! Providing small discord bots and small discord servers with an extreme chance!" %>">

        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@ExtremeList">
        <meta name="twitter:title" content="<%= title || "Page" %> | Discord Extreme List">
        <meta name="twitter:description" content="<%= subtitle || "Discord's unbiased list, giving small bots and small servers a big chance!" %>">
        <meta property="twitter:image" content="https://discordextremelist.xyz/img/logo.png">
        <meta property="twitter:image:alt" content="DEL's Logo">

        <meta property="og:type" content="website">
        <meta property="og:site_name" content="Discord Extreme List">
        <meta property="og:title" content="<%= title || "Page" %> | Discord Extreme List">
        <meta property="og:url" content="https://discordextremelist.xyz">
        <meta property="og:description" content="<%= subtitle || "Discord's unbiased list, giving small bots and small servers a big chance!" %>">
        <meta property="og:image" content="https://discordextremelist.xyz/img/logo.png">
        <meta property="og:image:alt" content="DEL's Logo">
    <% } %>

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Discord Extreme List">
    <link rel="apple-touch-icon" href="/img/icon-192px.png">

</head>